extends ../layout.pug

block content
	section.profile-page
		header.profile-header
			.container
				.profile-info
					img.profile-picture(src='/images/profile_placeholder_360.jpg', alt='profile picture')
					h1= `${user.name.first || '(unkown name, very mysterious)'} ${user.name.last || ''}`
						small Changing profile pictures coming soon!
					//h2 South Park, USA
				//ul.account-pages(role="navigation")
					li 
						a(href="#") Guides
					li 
						a(href="#") Wishlist
					li 
						a(href="#") Reviews
					li.active
						a(href="#") Settings
		.container.p-Xs
				.col-xs-12.col-sm-6
					+contentCard('Info')
						form.profile-settings-update(method='POST', action='/profile/update')
							.row
								.col-xs-12
									label.profile-label First Name
									input.form-control.form-settings(name='name.first', type='text', placeholder='First Name', value= user.name ? user.name.first : '')
								.col-xs-12
									label.profile-label Last Name
									input.form-control.form-settings(name='name.last', type='text', placeholder='Last Name', value= user.name ? user.name.last : '')
							//.row
								.col-xs-12
									label.profile-label Hometown
									input.form-control.form-settings(name='hometown', type='text', placeholder='Hometown')
							.row
								.col-xs-12
									label.profile-label Email
									input.form-control.form-settings(name='local.email', type='email', placeholder='Email', value= user.local ? user.local.email : '')

								.col-xs-12
									label.profile-label Passphrase
									input.form-control.form-settings(name='local.password', type='password', placeholder='Passphrase') 

								//.col-xs-6
									.checkbox
										label
											input(type='checkbox', checked= user.recieveNewsletter)
											| Send Me Newsletters

								.col-xs-12
									input(type='hidden', name= key, value= user[key])
									input.btn-primary.btn-block(type='submit', name='update', value='Save')
				.col-xs-12.col-sm-6
					.content-card
						h2.content-card--header My Guides
						for guide, i in guides ? guides : []
							if i !== 0
								.text-wings.plr-Xl.pb-Sm.fc-G
									hr
									span.plr-Sm.p-R(style='top: 3px;') &deg;
									hr

							a.row(href=`/${guide.countriesUrl[0]}/${guide.citiesUrl[0]}/${guide.url}`)
								.col-xs-12.col-sm-5.col-md-3
									img.w-100(src= getImagePath(guide.cardImage, 'small'))
								.col-xs-12.col-sm-7.col-md-9
									h3.mt-0= guide.names.display
										small.d-B.mt-XXs.fc-G= guide.tagline
									div!= guide.description
