extends ../layout.pug

block content
	section.profile-page
		header.profile-header
			.container
				.profile-info
					img.profile-picture(src='/images/profile_placeholder_360.jpg', alt='profile picture')
					h1= `${profilesUser.name.first || '(unkown name, very mysterious)'} ${profilesUser.name.last || ''}`
					//h2 South Park, USA
				//ul.account-pages(role="navigation")
					li 
						a(href="#") Guides
					li 
						a(href="#") Wishlist
					li 
						a(href="#") Reviews
					li.active
						a(href="#") Settings
		.container.p-Xs
				.col-xs-12.col-sm-6
					.content-card
						h2.content-card--header= `${profilesUser.name.first}'s Guides`
						for guide, i in guides ? guides : []
							if i !== 0
								.text-wings.plr-Xl.pb-Sm.fc-G
									hr
									span.plr-Sm.p-R(style='top: 3px;') &deg;
									hr
							a.row(href=`/${guide.url}`)
								.col-xs-12.col-sm-5.col-md-3
									img.w-100(src= getImagePath(guide.cardImage, 'small'))
								.col-xs-12.col-sm-7.col-md-9
									h3.mt-0= guide.names.display
										small.d-B.mt-XXs.fc-G= guide.tagline
									div!= guide.description
