if includeMixins
	include ../mixins/_mixins.pug

#GuideCards.clear(duck-table= isMe && 'Guides', duck-function= isMe && 'update', duck-key= isMe && 'Id', duck-key-value= isMe && guide.Id)
	.hidden(duck-type='string', duck-field='lastEdited')
		input(duck-value, type='text', value= new Date())
	.col-xs-12.col-sm-1.sticky.pull-right.z-1.guide--aside
		if isMe
			.card-admin.js-card-admin.btn-group-vertical.hidden-xs
				button.btn.btn-default.js-expand-collapse(data-toggle="tooltip", data-container="body", data-placement="left" title="Expand / Collapse"): i.fa.fa-compress(aria-hidden='true')
				button.btn.btn-default.js-add-card-start(data-toggle="tooltip", data-container="body", data-placement="left" title="Add Card"): i.fa(aria-hidden='true', class= startInAddCardMode ? 'fa-eye' : 'fa-pencil')

		if guide.isPublished
			.share42init.pt-Sm.ta-C.ta-L--sm

	.col-xs-12.col-sm-11.guide--content
		.row
			.col-xs-12.col-sm-4.col-lg-3.guide--nav
				.t-Sm.js-guide-nav.sticky
					include guideNav.pug

			.col-xs-12.col-sm-7.col-lg-8.guide--cards
				.js-nav-nodes.c-B
					-var cardsShown = 0;
					if isMe
						.js-guide-cards(duck-field='cards', duck-type='array')
							div
								for _card, i in cards.length ? cards : [{newGuide: true}]
									- cardsShown++
									if cardsShown % 6 === 0 && !isMe
										.guide-card--card.guide-card--card__white.guide-card--card__ad
											.guide-card--body.p-0
												+ad((cardsShown/6)-1)
									- var card = _card.section || {}, offset = i;
									include cards/_card.pug

									for _subCard, j in _card.subCards ? _card.subCards : []
										- cardsShown++
										if cardsShown % 6 === 0 && !isMe
											.guide-card--card.guide-card--card__white.guide-card--card__ad
												.guide-card--body.p-0
													+ad((cardsShown/6)-1)
										- card = _subCard; offset = `${i}.${j}`
										include cards/_card.pug
							
							.p-R
								button.btn.btn-primary.guide-card--add-card(duck-button='add', class= (startInEditMode || startInAddCardMode) ? '' : 'hidden')
									| Add Card #[i.fa.fa-plus(aria-hidden='true')]
					else
						for _card, i in cards ? cards : [{}]
							- cardsShown++
							if cardsShown % 6 === 0 && !isMe
								.guide-card--card.guide-card--card__white.guide-card--card__ad
									.guide-card--body.p-0
										+ad((cardsShown/6)-1)
							- var card = _card.section, offset = i;
							include cards/_card.pug

							div
								for _subCard, j in _card.subCards ? _card.subCards : []
									- cardsShown++
									if cardsShown % 6 === 0 && !isMe
										.guide-card--card.guide-card--card__white.guide-card--card__ad
											.guide-card--body.p-0
												+ad((cardsShown/6)-1)

									- card = _subCard; offset = `${i}.${j}`
									include cards/_card.pug

					if env === 'production' && guide.isPublished
						div(class="fb-comments", data-href=canonicalUrl, data-numposts="5", data-width="100%")