- let visibleNav = 0;

nav.guide-nav(data-function='accordion, interiorNav', data-always-show-one='true', data-interior-nav-offset='60')
	a(href='#', role='tab', aria-expanded='true', data-position='0')
		h3 Overview
	ul(role='tabpanel', aria-hidden='false')
		if (user && user.isAdmin) || guide.travelHacks && guide.travelHacks[0] && wysiwygHasData(guide.travelHacks[0].description)
			li: a(href='#', data-position=`0.${visibleNav++}`) Travel Hacks

		if (user && user.isAdmin) || guide.highlights && guide.highlights[0] && wysiwygHasData(guide.highlights[0].description)
			li: a(href='#', data-position=`0.${visibleNav++}`) Highlights
		
		if (user && user.isAdmin) || wysiwygHasData(guide.whereToStay)
			li: a(href='#', data-position=`0.${visibleNav++}`) Where to Stay
		
		if (user && user.isAdmin) || wysiwygHasData(guide.whereToGoOut)
			li: a(href='#', data-position=`0.${visibleNav++}`) Where to Go Out
		
		if (user && user.isAdmin) || wysiwygHasData(guide.whereToEat)
			li: a(href='#', data-position=`0.${visibleNav++}`) Where to Eat
		
		if (user && user.isAdmin) || wysiwygHasData(guide.whereToExplore)
			li: a(href='#', data-position=`0.${visibleNav++}`) Where to Explore

	for day, i in guide.days ? guide.days : []
		a(href='#', role='tab', aria-expanded='false', data-position= i+1)
			h3= `${guide.isGroupedByDay ? `Day ${i+1}: ` : ''}${day.title}`

		if day.cards
			ul(role='tabpanel', aria-hidden='true')
				for card, j in day.cards
					if card.title || card.tagTitle
						li: a(href='#', data-position= `${i+1}.${j}`)= card.title || card.tagTitle