extends ../layout.pug

block content
	- let visibleGuideSecions = 0;
	if !guide
		include error.pug
	else
		include header.pug

		+modal('OverviewMap')(class='modal-lg')
			div(style='overflow-x: scroll')
				img(src= guide.map, alt= guide.names.display)
			button.btn.btn-default.btn-lg.mt-XXs(type='button', data-dismiss='modal', aria-label='Close') Close

		.container.p-R
			if user && user.isAdmin
				.ta-R.d-N.d-B--sm
					button.btn.btn-primary(data-toggle='modal', data-target='#AddGuideModal') Edit Guide
				+modal('AddGuideModal')(class='modal-lg')
					+guideForm('update', guide)

			.row
				.col-sm-5.col-md-4.col-lg-3.mt-NegSm.mb-Lg.mtb-0--sm.mlr-NegMd.mlr-0--sm
					div(data-function='stickey')
						div(data-stickey='content')
							include guideNav.pug

				.col-xs-12.col-sm-7.col-md-8.col-lg-9.js-nav-nodes
					
					include ./cards/overview.pug
					include ./cards/travelHacks.pug
					include ./cards/highlights.pug
					include ./cards/whereTo.pug

					for day, i in guide.days ? guide.days.sort(sortByOrder) : []
						.mtb-XXl(data-position=i+1)
							h2.fs-32.fw-B.m-0.ta-C= `${guide.isGroupedByDay ? `Day ${i+1}: ` : ''}${day.title}`
								if user && user.isAdmin
									.f-R.mt-NegSm.mr-NegSm
										+guideEditForm(guide)
											.ptb-Sm.mt-XXs.mr-Xs.plr-Lg.d-Ib
												small Order&nbsp;
												small(duck-current-value)= day.order
											.m-0.d-Ib(duck-field='days', duck-type='array', duck-only-edit)
												.m-0.d-Ib(duck-type='object', duck-key='title', duck-key-value= day.title)
													.form-group.m-0.d-Ib.pr-Sm(duck-field='order', duck-type='number', style='vertical-align: middle;')
														input.form-control(type='number', duck-value, value= day.order)


							if user && user.isAdmin
								+guideEditForm(guide)
									.lead.p-Md.ta-C(duck-current-value)!= day.description

									div(duck-field='days', duck-type='array', duck-only-edit)
										div(duck-type='object', duck-key='title', duck-key-value= day.title)
											div(duck-field='description', duck-type='wysiwyg')
												.summernote!= day.description
							else
								.lead.p-Md.ta-C!= day.description
						.guide-card--wrapper
							for card, j in day.cards ? day.cards.sort(sortByOrder) : []
								include guideCard.pug