extends ../layout.pug

append head
	- var ogStuffLoaded = false;

	if env !== 'production' && !ogStuffLoaded
		meta(property="og:image" content=getImagePath(guide.cardImage, 'large'))
		meta(property="og:type" content="article")
		meta(property="og:title" content=`${guide.names.display} - stellaroute.com`)
		meta(property="og:description" content=guide.tagline)
		meta(property="og:url" content=canonicalUrl)
		meta(property="og:site_name" content="stellaroute.com")
		meta(property="article:published_time" content=guide.created)
		meta(property="article:author" content=`stellaroute ${author.username}`)

		-ogStuffLoaded = true;

block content
	.guide
		include header.pug

		.container.guide--container
			.row.js-guide-body.m-0.m-NegSm--sm
				include body.pug

	script(type='text/javascript' src='/js/pages/guide/guide.min.js')