extends ../layout.pug

block content
	-
		let visibleGuideSecions = 0;
		function tagBackground(type) {
			const types = {
				food: 'bg-Orange',
				activity: 'bg-Bl',
				area: false,
				sub: false,
				attraction: false,
				location: false,
				note: false,
				map: false
			};

			return types[type];
		}

	if !guide
		include error.pug
	else
		include header.pug

		+modal('OverviewMap')(class='modal-lg')
			div(style='overflow-x: scroll')
				img(src= guide.map, alt= guide.names.display)
			button.btn.btn-default.btn-lg.mt-XXs(type='button', data-dismiss='modal', aria-label='Close') Close

		.container.p-R
			.row
				.col-sm-5.col-md-4.col-lg-3.mt-NegSm.mb-Lg.mtb-0--sm.mlr-NegMd.mlr-0--sm
					div(data-function='stickey')
						div(data-stickey='content')
							include guideNav.pug

				.col-xs-12.col-sm-7.col-md-8.col-lg-9.js-nav-nodes
					
					include ./cards/overview.pug
					include ./cards/travelHacks.pug
					include ./cards/highlights.pug
					include ./cards/whereTo.pug

					if user && user.isAdmin
						div(duck-table='Guides', duck-function='update', duck-key='Id', duck-key-value= guide.Id, duck-edit-form='view')
							div(data-function='stickey')
								.ta-R(data-stickey='content')
									button.btn.btn-primary(duck-button='submit') Save
									button.btn.btn-secondary.duck-edit-hidden(duck-button='edit') Start Editing
									button.btn.btn-warning.duck-view-hidden(duck-button='cancel') Stop Editing
									
							button.btn.btn-primary.duck-view-hidden(data-function='toggle', data-target='.guide-card--wrapper') Hide Day Children Cards

							div(duck-field='days', duck-type='array')
								.duck-view-hidden
									small To add a new day, go to the bottom.
								for day, i in guide.days ? guide.days : [{}]
									.mtb-XXl(data-position=i+1, duck-type='object')
										h2.fs-32.fw-B.m-0.ta-C.duck-edit-hidden= `${guide.isGroupedByDay ? `Day ${i+1}: ` : ''}${day.title || '(new)'}`

										.lead.p-Md.ta-C.duck-edit-hidden!= day.description

										.form-group.duck-view-hidden(duck-field='title', duck-type='string')
											label Title
												input.form-control(type='text', duck-value, value= day.title)

										.form-group.duck-view-hidden(duck-field='description', duck-type='wysiwyg')
											label Day Description
											.summernote!= day.description

										.guide-card--wrapper(duck-field='cards', duck-type='array', data-toggle='hidden')
											for card, j in day.cards ? day.cards : [{}]
												include ./cards/guideEditCard.pug
									.ta-C.duck-view-hidden
										button.btn.btn-primary(duck-button='add') Add New Day
					else
						for day, i in guide.days ? guide.days : []
							.mtb-XXl(data-position=i+1)
								h2.fs-32.fw-B.m-0.ta-C= `${guide.isGroupedByDay ? `Day ${i+1}: ` : ''}${day.title}`

								.lead.p-Md.ta-C!= day.description
							.guide-card--wrapper
								for card, j in day.cards ? day.cards : []
									include ./cards/guideCard.pug