extends ../layout.pug

block content
	if !user || !guide
		include error.pug
	else
		include header.pug

		.container.p-R
			if user && user.isAdmin
				.ta-R.d-N.d-B--sm
					button.btn.btn-primary(data-toggle='modal', data-target='#AddGuideModal') Edit Guide
				+modal('AddGuideModal')(class='modal-lg')
					+guideForm('update', guide)

			.row
				.col-sm-5.col-md-4.col-lg-3(data-function='stickey')
					include guideNav.pug

				.col-xs-12.col-sm-7.col-md-8.col-lg-9.js-nav-nodes
					.content-card
						+guideEdit(guide)
							h2.content-card--header.fw-B.p-R.bg-W Overview
							.lead(duck-current-value)!= guide.description

							if user && user.isAdmin
								div(duck-field='description', duck-type='wysiwyg')
									.summernote!= guide.description
					
					.content-card.p-0
						+guideEdit(guide)
							img.w-100(duck-current-value, src= guide.map, alt= guide.names.display)

							if user && user.isAdmin
								.form-group(duck-field='map', duck-type='image')
									input.form-control(type='text', duck-value, value= guide.map)

					if guide.travelHacks && guide.travelHacks[0] && guide.travelHacks[0].description !== '<p><br></p>' && guide.travelHacks[0].description !== '<br>'
						+contentCard('Travel Hacks')(data-position='0.0')
							+accordion(guide.travelHacks)(data-allow-multiple='true')

					if guide.highlights && guide.highlights[0] && guide.highlights[0].description !== '<p><br></p>' && guide.highlights[0].description !== '<br>'
						h2.fc-G(data-position='0.1') Highlights
						.masonry.masonry-grid-1.masonry-grid-2--sm.masonry-grid-3--md.masonry-grid-4--lg
							for highlight in guide.highlights
								.masonry--item
									+card(highlight.cardImage, highlight.title, null, null, highlight.description)

					if guide.whereToStay !== '<p><br></p>' && guide.whereToStay !== '<br>'
						+contentCard('Where to Stay')(data-position='0.2')
							+guideEdit(guide)
								div(duck-current-value)!= guide.whereToStay

								if user && user.isAdmin
									div(duck-field='whereToStay', duck-type='wysiwyg')
										.summernote!= guide.whereToStay

					
					if guide.whereToGoOut !== '<p><br></p>' && guide.whereToGoOut !== '<br>'
						+contentCard('Where to Go Out')(data-position='0.3')
							+guideEdit(guide)
								div(duck-current-value)!= guide.whereToGoOut

								if user && user.isAdmin
									div(duck-field='whereToGoOut', duck-type='wysiwyg')
										.summernote!= guide.whereToGoOut
					
					if guide.whereToEat !== '<p><br></p>' && guide.whereToEat !== '<br>'
						+contentCard('Where to Eat')(data-position='0.4')
							+guideEdit(guide)
								div(duck-current-value)!= guide.whereToEat

								if user && user.isAdmin
									div(duck-field='whereToEat', duck-type='wysiwyg')
										.summernote!= guide.whereToEat
					
					if guide.whereToExplore !== '<p><br></p>' && guide.whereToExplore !== '<br>'
						+contentCard('Where to Explore')(data-position='0.5')
							+guideEdit(guide)
								div(duck-current-value)!= guide.whereToExplore

								if user && user.isAdmin
									div(duck-field='whereToExplore', duck-type='wysiwyg')
										.summernote!= guide.whereToExplore

					for day, i in guide.days ? guide.days.sort(sortByOrder) : []
						.content-card(data-position=i+1)
							h2.content-card--header= `Day ${i+1}: ${day.title}`
								if user && user.isAdmin
									.f-R.mt-NegSm.mr-NegSm
										+guideEdit(guide)
											.ptb-Sm.mt-XXs.mr-Xs.plr-Lg.d-Ib
												small Order&nbsp;
												small(duck-current-value)= day.order
											.m-0.d-Ib(duck-field='days', duck-type='array', duck-only-edit)
												.m-0.d-Ib(duck-type='object', duck-key='title', duck-key-value= day.title)
													.form-group.m-0.d-Ib.pr-Sm(duck-field='order', duck-type='number', style='vertical-align: middle;')
														input.form-control(type='number', duck-value, value= day.order)


							if user && user.isAdmin
								+guideEdit(guide)
									.lead(duck-current-value)!= day.description

									div(duck-field='days', duck-type='array', duck-only-edit)
										div(duck-type='object', duck-key='title', duck-key-value= day.title)
											div(duck-field='description', duck-type='wysiwyg')
												.summernote!= day.description
							else
								.lead!= day.description

						for card, j in day.cards ? day.cards.sort(sortByOrder) : []
							include guideCard.pug
