extends ../layout.pug

block content
	-
		let visibleGuideSecions = 0;
		function tagBackground(type) {
			const types = {
				food: 'bg-Orange',
				activity: 'bg-Bl',
				area: false,
				sub: false,
				attraction: false,
				location: false,
				note: false,
				map: false
			};

			return types[type];
		}

	include header.pug

	if guide.map
		+modal('OverviewMap')(class='modal-lg')
			.ta-C(style='overflow-x: scroll')
				img(src= getImagePath(guide.map, 'large'), alt= guide.names.display)
			button.btn.btn-default.btn-lg.mt-XXs(type='button', data-dismiss='modal', aria-label='Close') Close

	.container.p-R
		+shareThis(guide.cardImage)
		.row
			.col-sm-5.col-md-4.col-lg-3.mt-NegSm.mb-Lg.mtb-0--sm.mlr-NegMd.mlr-0--sm
				div(data-function='stickey')
					div(data-stickey='content')
						include guideNav.pug

			.col-xs-12.col-sm-7.col-md-8.col-lg-9.js-nav-nodes
				include ./cards/overview.pug
				+factsHacks(false, guide, 'Guides')
				include ./cards/highlights.pug
				include ./cards/whereTo.pug

				
				+formStart(guide, 'Guides')
					if userIsAuthorized(user)
						div(data-function='stickey')
							.ta-R(data-stickey='content')
								button.btn.btn-primary(duck-button='submit') Save
								button.btn.btn-secondary.duck-edit-hidden(duck-button='edit') Start Editing
								button.btn.btn-warning.duck-view-hidden(duck-button='cancel') Stop Editing

					+view
						for day, i in guide.days ? guide.days : []
							.mtb-XXl(data-position=i+1)
								h2.fs-32.fw-B.m-0.ta-C= `${guide.isGroupedByDay ? `Day ${i+1}: ` : ''}${day.title}`

								.lead.p-Md.ta-C!= day.description
							.guide-card--wrapper
								for card, j in day.cards ? day.cards : []
									include ./cards/guideCard.pug
					+edit
						+array(null, 'days', 'Add New Day')
							for day, i in guide.days ? guide.days : [{}]
								+object(null, 'Day')(data-position= i+1, class='mtb-XXl p-Sm')
									+string(day, 'title', 'Title')
									+wysiwyg(guide, 'description', 'Day Description')

									.guide-card--wrapper(data-toggle='hidden')
										+array(null, 'cards')
											for card, j in day.cards ? day.cards : [{}]
												include ./cards/guideEditCard.pug