div.city-header(style=`background: rgba(0, 0, 0, 0) url("${getImagePath(guide.backgroundImage, 'large') || getImagePath(city.backgroundImage, 'large')}") no-repeat scroll center 57% / cover;`)
	.bg-Dkr
		.container.ptb-0
			ol.breadcrumb
				li.active: a(href= '/') Home
				li.active: a(href= `/${city.countryUrl}/${city.url}`)= city.names.display
				li.active: a(href= `/${city.countryUrl}/${city.url}/#Guides`) Guides
			if userIsAuthorized()
				div(duck-table='Guides', duck-function='update', duck-key='Id', duck-key-value= guide.Id, duck-edit-form='view')
					.duck-edit-hidden
						h1 #{guide.names.display}
							button.btn.btn-edit.f-R.fc-W.mt-NegSm(duck-button='edit', data-icon='fa fa-pencil')
							if guide.author
								small.pl-Xs= guide.author

							if guide.tagline
								small.d-B.mt-Sm= guide.tagline
					.duck-view-hidden.bg-W.p-Sm.mb-Sm
						.row
							.col-xs-12.col-sm-6
								div(duck-field='names', duck-type='object')
									.form-group(duck-field='display', duck-type='string')
										label Guide Name
											input.form-control(type='text', duck-value, value= guide.names.display)
								.form-group(duck-field='tagline', duck-type='string')
									label Tagline
										input.form-control(type='text', duck-value, value= guide.tagline)
							.col-xs-12.col-sm-6
								.form-group(duck-field='backgroundImage', duck-type='image')
									label Background Image
										+imagePicker(guide, 'backgroundImage')

								.form-group(duck-field='cardImage', duck-type='image')
									label Card Image
										+imagePicker(guide, 'cardImage')

							.col-xs-12.ta-R
								button.btn.btn-primary(duck-button='submit') Save
								button.btn.btn-warning(duck-button='cancel') Cancel

			else
				h1 #{guide.names.display}
					if guide.author
						small.pl-Xs= guide.author

					if guide.tagline
						small.d-B.mt-Sm= guide.tagline