div.city-header(style=`background: rgba(0, 0, 0, 0) url("${getImagePath(guide.backgroundImage, 'large')}") no-repeat scroll center 57% / cover;`)
	.bg-Dkr
		.container.ptb-0
			//if userIsAuthorized(user)
				.bg-W.p-Xs.f-R= guide.Id

			ol.breadcrumb
				li.active Created by: #[a(href= '/')= author && author.name && author.name.first || 'unknown']

			+formStart(guide, 'Guides')
				+view
					h1 #{guide.names.display} #[small (unpublished)]
						+editButton('f-R bg-W mt-NegSm')
						if author && author.names
							small.pl-Xs= author.names.first

						if guide.tagline
							small.d-B.mt-Sm= guide.tagline
				+edit('bg-W p-Sm mb-Sm')
					.row
						.col-xs-12.col-sm-6
							+object('names')
								+string(guide.names, 'display', 'Guide Name')

							+string(guide, 'tagline', 'Tagline')
						.col-xs-12.col-sm-6
							+image(guide, 'backgroundImage', 'Background Image')
							+image(guide, 'cardImage', 'Card Image')

						.col-xs-12.ta-R
							button.btn.btn-primary(duck-button='submit') Save
							button.btn.btn-warning(duck-button='cancel') Cancel