div.city-header(style=`background: rgba(0, 0, 0, 0) url("${guide.backgroundImage || city.backgroundImage}") no-repeat scroll center 57% / cover;`)
	.bg-Dkr
		.container.ptb-0
			ol.breadcrumb
				li.active: a(href= '/') Home
				li.active: a(href= `/${city.countryUrl}/${city.url}`)= city.names.display
				li.active: a(href= `/${city.countryUrl}/${city.url}/#Guides`) Guides
			h1 #{guide.names.display}
				if guide.author
					small.pl-Xs= guide.author

				if guide.tagline
					small.d-B.mt-Sm= guide.tagline