div.sub-header(style=`background: rgba(0, 0, 0, 0) url("${getImagePath(guide.bannerImage, 'large')}") no-repeat scroll center 57% / cover;`)
	.bg-Dkr
		.container.ptb-0
			ol.breadcrumb
				li.active Created by: #[a(href= `/${author.username || author.Id}`)= author.username || 'unknown']

			+formStart(guide, 'Guides')(id='GuideDetailsForm')
				+editButton('f-R bg-W')
				+view
					h1 #{guide.names.display} #[small (unpublished)]
						if author && author.names
							small.pl-Xs= author.names.first

						if guide.tagline
							small.d-B.mt-Sm= guide.tagline
				+edit(null, false)
					.panel.panel-default
						.panel-heading= guide.names.display
						.panel-body.form-horizontal
							.form-group(duck-type='object', duck-field='names')
								label.col-sm-2.control-label Name
								.col-sm-10(duck-type='string', duck-field='display')
									input.form-control(duck-value, , value= guide && guide.names && guide.names.display)

							.form-group(duck-type='string', duck-field='tagline')
								label.col-sm-2.control-label Tagline
								.col-sm-10
									input.form-control(duck-value, value= guide && guide.tagline)

							.form-group(duck-type='image', duck-field='bannerImage')
								label.col-sm-2.control-label Background Image
								.col-sm-10
									input.hidden(type='hidden', duck-value, value= guide.bannerImage)
									.form-control(duck-button='image-select')
										i.fa.fa-image(aria-hidden='true')
										span.pl-Sm(duck-image-value)= guide && guide.bannerImage || 'Please select an Image'

							.form-group(duck-type='image', duck-field='cardImage')
								label.col-sm-2.control-label Card Image
								.col-sm-10
									input.hidden(type='hidden', duck-value, value= guide.cardImage)
									.form-control(duck-button='image-select')
										i.fa.fa-image(aria-hidden='true')
										span.pl-Sm(duck-image-value)= guide && guide.cardImage || 'Please select an Image'

						.panel-footer.ta-R
							button.btn.btn-primary(duck-button='submit') Save #[i.fa.fa-spinner.fa-spin.hidden(aria-hidden='true')]