div(style=`background: rgba(0, 0, 0, 0) url("${getImagePath(attraction.backgroundImage, 'large') || getImagePath(city.backgroundImage, 'large')}") no-repeat scroll center 57% / cover;`)
	.bg-Dkr.p-R
		if userIsAuthorized()
			.bg-W.p-A.p-Xs.r-Sm.t-0.z-1.d-N.d-B--sm= attraction.Id
		.container.ptb-0
			ol.breadcrumb
				li.active: a(href= '/') Home
				li.active: a(href=`/${city.countryUrl}/${city.url}`)= city.names.display
				li.active: a(href=`/${city.countryUrl}/${city.url}#Attractions`)= `Attractions`
			+formStart(attraction, 'Attractions')
				+view
					h1= attraction.names.display
						small.ml-Md= attraction.tagline
						+editButton()(class='f-R mt-NegSm bg-W')

				+edit('bg-W p-Sm mb-Sm')
					.row
						.col-xs-12.col-sm-6
							+object('names')
								+string(attraction.names, 'display', 'Display Name')
								+string(attraction.names, 'official', 'Official Name')
								+array(attraction.names, 'alias', 'Alias\'', 'Add Alias')
						.col-xs-12.col-sm-6
							+string(attraction, 'tagline', 'Tagline')
							+image(attraction, 'backgroundImage', 'Background Image')

						.col-xs-12.ta-R
							button.btn.btn-primary(duck-button='submit') Save
							button.btn.btn-warning(duck-button='cancel') Cancel