+formStart(neighborhood, 'Neighborhoods', (neighborhood.orientation && (wysiwygHasData(neighborhood.orientation.description) || neighborhood.orientation.map || neighborhood.orientation.mainIntersection || neighborhood.orientation.mainStrip || getNested(neighborhood, 'waysToGetThere', 0, 'name') || getNested(neighborhood, 'orientation', 'distanceFrom', 0, 'name'))))(class='content-card')
	h2.content-card--header Orientation
		+editButton('f-R mt-NegSm')
	+view
		if wysiwygHasData(neighborhood.orientation.description)
			div!= neighborhood.orientation.description
		
		if neighborhood.orientation.map
			button.bg-N.bw-0.p-0.w-100(type='button', data-toggle='modal', data-target='#MapModal', tab-index='1')
				img.w-100(src= getImagePath(neighborhood.orientation.map, 'large'))

		if wysiwygHasData(neighborhood.orientation.mainIntersection)
			h3 Main Intersection
			!= neighborhood.orientation.mainIntersection

		if wysiwygHasData(neighborhood.orientation.mainStrip)
			h3 Main Strip
			!= neighborhood.orientation.mainStrip

		if getNested(neighborhood, 'waysToGetThere', 0, 'name')
			h3 Main Transit Stops
			for wayToGetThere in neighborhood.orientation.waysToGetThere
				h4.row
					.col-xs-2.col-sm-1.col-md-2.col-lg-1.ta-C(data-icon= getIcon(wayToGetThere.method))
					.col-xs-10.col-sm-11.col-md-10.col-lg-11.pl-0= wayToGetThere.name
				.row
					.col-xs-10.col-sm-11.col-md-10.col-lg-11.col-xs-push-2.col-sm-push-1.col-md-push-2.col-lg-push-1.pl-0
						ul.list-unstyled
							for stop in wayToGetThere.stops
								li= stop

		if getNested(neighborhood, 'orientation', 'distanceFrom', 0, 'name')
			h3 Distance To...
			for location in neighborhood.orientation.distanceFrom
				h4.row
					.col-xs-2.col-sm-1.col-md-2.col-lg-1.ta-C(data-icon= getIcon(location.type))
					.col-xs-10.col-sm-11.col-md-10.col-lg-11.pl-0= location.name
				.row
					.col-xs-10.col-sm-11.col-md-10.col-lg-11.col-xs-push-2.col-sm-push-1.col-md-push-2.col-lg-push-1.pl-0
						ul.list-unstyled.fc-G
							for wayToGetThere in location.waysToGetThere
								li.clear
									h5.d-Ib.m-0.f-L.lh-B(data-icon= getIcon(wayToGetThere.method))
									.ml-Md= `${wayToGetThere.time ? wayToGetThere.time : ''} ${wayToGetThere.description ? '- ' + wayToGetThere.description : ''} ${wayToGetThere.distance ? '- ' + wayToGetThere.distance : ''}`

		if neighborhood.orientation.map
			+modal('MapModal')
				.ta-C(style='overflow-x: scroll;')
					img(src= getImagePath(neighborhood.orientation.map, 'large'), alt=`Map of ${neighborhood.names.display}`)
				a.btn.btn-default(data-dismiss='modal') Close
	+edit
		+object('orientation')
			+wysiwyg(neighborhood, 'description', 'Overview')
			+image(neighborhood.orientation, 'map', 'Map')
			+array(null, 'waysToGetThere', 'Ways to Get There', 'Add Way to Get There')
				for wayToGetThere in getNested(neighborhood, 'orientation', 'waysToGetThere') ? neighborhood.orientation.waysToGetThere : [{}]
					+object(null, 'Delete Way to Get There')
						+string(wayToGetThere, 'name', 'Name')
						+select(wayToGetThere, 'method', 'Method of Transportation', methodsOfTransportation)
						+array(wayToGetThere, 'stops', 'Stops', 'Add Stop')

			+wysiwyg(neighborhood.orientation, 'mainIntersection', 'Main Intersection')
			+wysiwyg(neighborhood.orientation, 'mainStrip', 'Main Strip')

			+array(null, 'distanceFrom', 'Distance From', 'Add Location')
				for distanceFrom in getNested(neighborhood, 'orientation', 'distanceFrom') ? neighborhood.orientation.distanceFrom : [{}]
					+object(null, 'Delete Location')
						+string(distanceFrom, 'name', 'Name of Location')
						+select(distanceFrom, 'type', 'Type of Location', locationTypes)
						+array(null, 'waysToGetThere', 'Ways to Get There', 'Add Way to Get There')
							for wayToGetThere in distanceFrom.waysToGetThere ? distanceFrom.waysToGetThere : [{}]
								+object(null, 'Delete Way to Get There')
									+select(wayToGetThere, 'method', 'Method of Transportation', methodsOfTransportation)
									+string(wayToGetThere, 'distance', 'Distance from Location')
									+string(wayToGetThere, 'time', 'Time')
									+string(wayToGetThere, 'description', 'Description')