extends ../../layout

block content
	.media-bg-img.request-page-header
		h1= continent.name

	.container.ptb-Sm
		small
			a.fc-G(href='/continents') &lt; Back to All Continents

		.content-card
			form.update-form(method='POST', action='/continents/update')
				.form-group
					label Name
					p.form-control-static(data-type='text', data-name='name')= String(continent.names.display)
					.hidden
						input.form-control#ContinentName(name='names.display', type='text', placeholder='name', value=continent.names.display)

				input(type='hidden', name= key, value= continent[key])
				input(type='hidden', name='redirect', value=`/${continent.url}`)
				input.btn.btn-primary.btn-update(type='button', value='Update')
				| &nbsp;
				input.btn.btn-primary.btn-save.hidden(type='submit', value='Save', name='update')
				button.btn.btn-danger.ml-Sm(type='button', data-toggle='modal', data-target='#DeleteModal') Delete
				
			.modal.fade#DeleteModal(tab-index='-1', role='dialog', aria-labelledby="DeleteModalLabel")
				form.modal-dialog(role='document', method='POST', action='/delete')
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal', aria-label='Close')
								span(aria-hidden='true') &times;
							h4.modal-title#DeleteModalLabel
								| Delete&nbsp;
								= continent.name
						.modal-body
							.alert.alert-danger
								p
									| Are you sure you want to delete&nbsp;
									= continent.name + '?'
								p This action cannot be undone
							
							input(type='hidden', name='key', value= continent[key])
							input(type='hidden', name='keyName', value= key)
							input(type='hidden', name='table', value='Continents')
							input(type='hidden', name='redirect', value='/continents')
							input(type='hidden', name='retry', value=`/${continent.url}`)
							input.btn.btn-danger(type='submit', value='Delete', name='delete')

						.modal-footer
							button.btn.btn-default(type='button', data-dismiss='modal') Cancel

		.row
			.col-xs-12.col-sm-6
				.content-card.p-R
					h2 Regions
					ul
						for region in worldRegions
							li
								a(href=`/${region.url}`)= region.names.display

					.clear
						button.btn.btn-primary.f-R(data-toggle='modal', data-target='#AddRegion') Add Region
					button.btn.btn-primary.p-A.t-Md.r-Md(data-toggle='modal', data-target='#AddRegion') Add Region

			.col-xs-12.col-sm-6
				.content-card.p-R
					h2 Countries
					ul
						for country in countries
							li
								a(href=`/${country.url}`)= country.names.display

					.clear
						button.btn.btn-primary.f-R(data-toggle='modal', data-target='#AddCountry') Add Country
					button.btn.btn-primary.p-A.t-Md.r-Md(data-toggle='modal', data-target='#AddCountry') Add Country

	.modal.fade#AddRegion(tab-index='-1', role='dialog')
			.modal-dialog(role='document')
				form.modal-content(method='POST', action='/world-regions/new')
					.modal-header.mb-Md
						h4.mt-0.mb-0.pl-Sm.fc-G
							| Add a Region to&nbsp;
							span= continent.name
						button.close.p-A.t-Xs.r-Xs(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') &times;
					.modal-body.plr-Md.pb-Md
						.form-group
							label(for='WorldRegionName') Name of Region
							input.form-control#WorldRegionName(name='names.display', type='text', placeholder='Southeast Asia', required)
							input.hidden(type='hidden', name='continent', value= continent.Id)

						.form-group.mb-0
							button.btn.btn-primary.btn-Sm(type='submit', value=`/${continent.url}`, name='redirect') Save

	.modal.fade#AddCountry(tab-index='-1', role='dialog')
			.modal-dialog(role='document')
				form.modal-content.js-new-country(method='POST', action='/countries/new')
					.modal-header.mb-Md
						h4.mt-0.mb-0.pl-Sm.fc-G
							| Add a Country to&nbsp;
							span= continent.name
						button.close.p-A.t-Xs.r-Xs(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') &times;
					.modal-body.plr-Md.pb-Md
						.row
							.col-xs-12
								.form-group
									label(for='CountryName') Name
									input.form-control#CountryName(name='name', type='text', placeholder='America', required)

						.row
							.col-xs-12
								.form-group
									label(for='WorldRegions') World Region(s) it resides in 
									select.form-control#WorldRegions(name='worldRegions',  multiple='true', required)
										-for (i in worldRegions)
											option(value= worldRegions[i].Id)= worldRegions[i].name

						.row
							.col-xs-12
								.form-group.js-languages
									label(for='CountryLanguages') Language(s)
									select.form-control#CountryLanguages(name='languages', multiple='true', required)
										option Akan
										option Amharic
										option Arabic
										option Assamese
										option Awadhi
										option Azerbaijani
										option Balochi
										option Belarusian
										option Bengali
										option Bhojpuri
										option Burmese
										option Cantonese
										option Cebuano
										option Chewa
										option Chhattisgarhi
										option Chittagonian
										option Czech
										option Deccan
										option Dhundhari
										option Dutch
										option English
										option French
										option Fula
										option Gan Chinese
										option German
										option Greek
										option Gujarati
										option Haitian Creole
										option Hakka
										option Haryanvi
										option Hausa
										option Hiligaynon
										option Hindi
										option Hmong
										option Hungarian
										option Igbo
										option Ilocano
										option Indonesian
										option Italian
										option Japanese
										option Javanese
										option Jin
										option Kannada
										option Kazakh
										option Khmer
										option Kinyarwanda
										option Kirundi
										option Konkani
										option Korean
										option Kurdish
										option Madurese
										option Magahi
										option Maithili
										option Malagasy
										option Malayalam
										option Mandarin
										option Marathi
										option Marwari
										option Mossi
										option Nepali
										option Odia
										option Oromo
										option Pashto
										option Persian
										option Polish
										option Portuguese
										option Punjabi
										option Romanian
										option Russian
										option Saraiki
										option Serbo-Croatian
										option Shona
										option Sindhi
										option Sinhalese
										option Somali
										option Southern Min
										option Spanish
										option Sundanese
										option Swedish
										option Sylheti
										option Tagalog
										option Tamil
										option Telugu
										option Thai
										option Turkish
										option Turkmen
										option Ukrainian
										option Urdu
										option Uyghur
										option Uzbek
										option Vietnamese
										option Xhosa
										option Yoruba
										option Zhuang
										option Zulu

						.row
							.col-xs-12
								.form-group
									label(for='CountryOfficialName') Official Name
									input.form-control#CountryOfficialName(name='names.official', type='text', placeholder='Federal Republic of Germany', required)
						
						.row.js-duplicate
							.col-sm-6.col-xs-6
								.form-group
									label Native Name
									input.form-control(name='native.name', type='text', placeholder='Deutschland', required)
							.col-sm-3.col-xs-3.plr-0.plr-Sm--sm
								.form-group
									label Language
									select.form-control.js-name-language(name='native.language', required)
										
							.col-sm-3.col-xs-3
								.form-group
									label &nbsp;
									button.btn.btn-danger.form-control.js-delete-row.hidden(type='button')
										span.visible-xs(aria-hidden='true') &times;
										span.hidden-xs(aria-hidden='true') Remove
										span.sr-only Remove Native Name
						
						.row
							.col-xs-12.text-right
								button.btn.btn-primary.js-make-duplicate(type='button') Add Native Name
						
						.row
							.col-xs-12.col-sm-4
								.form-group
									label(for='CountryAbbreviation') Abbreviation
									input.form-control#CountryAbbreviation(name='abbreviation', type='text', placeholder='US', maxlength='2', required)
							.col-xs-12.col-sm-8
								.form-group
									label(for='CountryAlias') Alias
									input.form-control#CountryAlias(name='alias', type='text', placeholder='US, U.S.A., America')

						.form-group.mb-0
							input.hidden(name='continent', value=continent.Id)
							button.btn.btn-primary.btn-Sm(type='submit', value=`/${continent.url}`, name='redirect') Save