extends ../../layout

block content
	.media-bg-img.request-page-header
		h1= continent.name

	.container.pt-Sm
		small
			a.fc-G(href='/continents') &lt; Back to All Continents

		.content-card.mt-Md
			form.update-form(method='POST', action='/continents/update')
				.row
					.col-xs-12.col-sm-6
						.form-group
							label Name
							p.form-control-static(data-type='text', data-name='name')= String(continent.name)
							.hidden
								input.form-control#ContinentName(name='name', type='text', placeholder='name', value=continent.name)

				input(type='hidden', name= key, value= continent[key])
				input.btn.btn-primary.btn-update(type='button', value='Update')
				| &nbsp;
				input.btn.btn-primary.btn-save.hidden(type='submit', value='Save', name='update')
				button.btn.btn-danger.ml-Sm(type='button', data-toggle='modal', data-target='#DeleteModal') Delete
				
				.modal.fade#DeleteModal(tab-index='-1', role='dialog', aria-labelledby="DeleteModalLabel")
					.modal-dialog(role='document')
						.modal-content
							.modal-header
								button.close(type='button', data-dismiss='modal', aria-label='Close')
									span(aria-hidden='true') &times;
								h4.modal-title#DeleteModalLabel
									| Delete&nbsp;
									= continent.name
							.modal-body
								.alert.alert-danger
									p
										| Are you sure you want to delete&nbsp;
										= continent.name + '?'
									p This action cannot be undone
								input.btn.btn-danger(type='submit', value='Delete', name='delete')

							.modal-footer
								button.btn.btn-default(type='button', data-dismiss='modal') Close

		.row
			.col-xs-12.col-sm-6
				.content-card
					h2 Regions
					ul
						for region in worldRegions
							li
								a(href='/world-regions/' + region.name)= region.name

					button.btn.btn-primary.f-R(data-toggle='modal', data-target='#AddRegion') Add Region

			.col-xs-12.col-sm-6
				.content-card
					h2 Countries
					ul
						for country in countries
							li
								a(href='/countries/' + country.name)= country.name

	.modal.fade#AddRegion(tab-index='-1', role='dialog')
			.modal-dialog(role='document')
				form.modal-content(method='POST', action='/world-regions/new')
					.modal-header.mb-Md
						h4.mt-0.mb-0.pl-Sm.fc-G
							| Add a Region to&nbsp;
							span= continent.name
						button.close.p-A.t-Xs.r-Xs(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') &times;
					.modal-body.p-Md
						.form-group
							label(for='WorldRegionName') Name of Region
							input.form-control#WorldRegionName(name='name', type='text', placeholder='Southeast Asia', required)
							input.hidden(type='hidden', name='continent', value= continent.Id)
						.col-xs-12.col-sm-8.col-sm-push-2
							input.btn.btn-primary.btn-Sm.w-100.bg-Gr.fc-G__ltst(type='submit', value='Create')