extends ../layout

block content
	h1 Country Info

	form.update-form(method='POST', action='/countries/update')
		.row
			.col-xs-12.col-sm-6
				.form-group
					label Name
					p.form-control-static(data-type='text', data-name='name')= country.name
					
				//.form-group
					label Select
					p.form-control-static(data-type='select') option 2

				.form-group
					label Continent(s)
					p.form-control-static(data-type='checkbox', data-options= continents.toString(), data-name='continent')
						- for (var i = 0; i < country.continent.length; i++)
							span= country.continent[i]

							if ((i+1) !== country.continent.length)
								|,&nbsp;
				.form-group
					label World Region(s)
					p.form-control-static(data-type='multi-select', data-options= worldRegions.toString(), data-name='worldRegions')
						- for (var i = 0; i < country.worldRegions.length; i++)
							span= country.worldRegions[i]

							if ((i+1) !== country.worldRegions.length)
								|,&nbsp;

				//.form-group
					label Text Area
					p.form-control-static(data-type='textarea') This ia an editable text area

			//.col-xs-12.col-sm-6
				.form-group
					label Select One
					p.form-control-static(data-type='radio') Radio 3

				.form-group
					label Select as Many as You Want
					p.form-control-static(data-type='checkbox') Checkbox 1, Checkbox 2
		input(type='hidden', name= key, value= country[key])
		input.btn.btn-primary.btn-update(type='button', value='Update')
		| &nbsp;
		input.btn.btn-primary.btn-save.hidden(type='submit', value='Save', name='update')
		input.btn.btn-danger(type= 'submit', value= 'Delete', style='float: right')

	//form(method='POST', action='./update')
		h2 Continent(s)
		p.js-update
			- for (var i = 0; i < data.continent.length; i++)
				span= data.continent[i]

				if ((i+1) !== data.continent.length)
					|,&nbsp;

		h2 World Region(s)
		p.js-update
			- for (var i = 0; i < data.worldRegions.length; i++)
				span= data.worldRegions[i]

				if ((i+1) !== data.worldRegions.length)
					|,&nbsp;

		.form-group
			label(for='CountryContinet') Continent(s) it resides in 
			select.form-control#CountryContinent(name='continent',  multiple='true', required)
				option North America
				option South America
				option TODO: Auto Generate list from database of continents

		.form-group
			label(for='WorldRegions') World Region(s) it resides in 
			select.form-control#WorldRegions(name='worldRegions',  multiple='true', required)
				option Western Europe
				option Eastern Europe
				option TODO: Dynamically Generate list based off selected continents
		
		input(type='hidden', name= key, value= data[key])
		button.btn.btn-warn.js-update-country(type= 'button') Edit
		input.btn.btn-success.hidden#Update(type= 'submit', value= 'Update')
	