-
	// for generic cards
	const colorClasses = {
		purple: 'bg-Purp',
		green: 'bg-Gr',
		red: 'bg-Red',
		orange: 'bg-Orange',
		blue: 'bg-Bl',
	}

	const month = [
		'Jan',
		'Feb',
		'Mar',
		'Apr',
		'May',
		'Jun',
		'Jul',
		'Aug',
		'Sept',
		'Oct',
		'Nov',
		'Dec'
	]

	function cardSize(size) {
		const rand = Math.random();

		if(size){
			return size;
		}

		if(rand < 0.33) {
			return 'thumb2';
		}

		if(rand > .66) {
			return 'medium';
		}

		return 'small';
	}

mixin card(image, title, tagName, tagColor, description, imageSize)
	if title
		if tagName
			.card--tag(class=tagColor ? colorClasses[tagColor] : 'bg-Purp')= tagName
		.card(class=description ? 'card__description' : '')
			.card--img-wrapper
				img.card--img(src= getImagePath(image, cardSize(imageSize)) || 'http://placebear.com/400/600', alt= title)
			h3.card--title= title
			if description
				.card--description!= description

mixin contentCard(title)
	.content-card&attributes(attributes)
		if title
			h2.content-card--header= title
		block

mixin guideCard(guide, showAuthor, size)
	if guide
		.card
			if guide.countriesDisplay && guide.countriesDisplay.length
				.ta-R.p-A.r-0.l-0.t-0.z-1
					for country in guide.countriesDisplay
						a.d-Ib.bg-Gr.fc-W.p-Xs.fw-N.mr-XXs.mt-XXs(href=`/search?term=${country}&type=country`)= country

			if guide.cardImage || guide.isFeatured
				a(href=`/${guide.authorUsername}/${guide.url}`)
					if guide.cardImage
						.card--img-wrapper
							img.card--img(src= getImagePath(guide.cardImage, cardSize(size)), alt= guide.names.display)
					if guide.isFeatured
						.bg-Purp.fc-W.fw-N.plr-Sm Featured
			div.p-R
				.p-A.r-Sm.t-Sm.z-1
					+favorite(guide.Id)
			a(href=`/${guide.authorUsername}/${guide.url}`)
				h3.ta-L.m-0.fc-B.p-Sm
					span.d-B.pr-Lg= guide.names.display
					span.fs-Sm.mt-XXs.d-B.fc-G
						strong.pr-Sm #[span.hidden-xs Last Edited] #[i.fa.fa-clock-o(aria-hidden='true')]
						-var created = new Date(guide.lastEdited || guide.created)
						= `${month[created.getMonth()]} ${created.getDate()}, ${created.getFullYear()}`
			.ta-L.p-Sm.pt-0
				if guide.tagline
					p= guide.tagline
				else if guide.cards && guide.cards[0] && wysiwygHasData(guide.cards[0].text)
					!= guide.cards[0].text

			if guide.tags
				div.ta-L.p-Sm.pt-0
					i.fa.fa-tag.pr-Sm(aria-hidden='true')
					for tag in guide.tags
						a.mr-Sm(href=`/search?term=${tag}`)= tag
			if showAuthor
				a(href=`/${guide.authorUsername}`).d-B.p-Sm.ta-L.c-B.bw-0.btw-Sm.bs-S.bc-G__lt.fw-N.fc-I
					img.img-responsive.br-C.f-L.mr-Md(src= getImagePath(guide.authorProfilePicture, 'thumb1', true), alt= guide.authorUsername, style='max-width: 64px;')
					h4.d-Ib.mt-0.mb-0= guide.authorUsername
					if guide.authorTagline
					span &nbsp;- #{guide.authorTagline}