-
	// for generic cards
	const colorClasses = {
		purple: 'bg-Purp',
		green: 'bg-Gr',
		red: 'bg-Red',
		orange: 'bg-Orange',
		blue: 'bg-Bl',
	}

	function cardSize(size) {
		const rand = Math.random();

		if(size){
			return size;
		}

		if(rand < 0.33) {
			return 'thumb2';
		}

		if(rand > .66) {
			return 'medium';
		}

		return 'small';
	}

mixin card(image, title, tagName, tagColor, description, imageSize)
	if title
		if tagName
			.card--tag(class=tagColor ? colorClasses[tagColor] : 'bg-Purp')= tagName
		.card(class=description ? 'card__description' : '')
			.card--img-wrapper
				img.card--img(src= getImagePath(image, cardSize(imageSize)) || 'http://placebear.com/400/600', alt= title)
			h3.card--title= title
			if description
				.card--description!= description

mixin contentCard(title)
	.content-card&attributes(attributes)
		if title
			h2.content-card--header= title
		block 