script(type='text/javascript', src='/controls/favorite/favorite.min.js')

mixin favorite(guide, card)
	if user
		- user.favorites = user.favorites || [];
		- isFavorite = Boolean(user.favorites.find((favorite) => favorite.guide === guide));

		button.js-favorite-button.favorite-button(data-guide=guide, data-card=card, data-user= user.Id, type='submit', isFavorite=String(isFavorite), class= isFavorite ? 'favorite-button__active' : '')
			i.fa.fa-star.fa-2x(aria-hidden=true, class= isFavorite ? 'is-favorite' : '')
			span.sr-only Favorite This!
	else
		button.favorite-button(data-target='#LoginModal', data-toggle='modal')
			i.fa.fa-star.fa-2x(aria-hidden=true)
			span.sr-only Favorite This!