head
	title= title || 'Stellaroute'
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='description', content= description)
	meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
	meta(name='author', content='Stellaroute')
	meta(name='google-site-verification', content='tByCJ_M0-5-xPQYJzhqEIcJJkVSB7PcRNExX6fDnOd8')
	meta(name="p:domain_verify", content="ae641ef00710b9b8aa9a2d033222d33a")

	// Google analytics and tag manager
	script(type='text/javascript').
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-82106221-1', 'auto');ga('send', 'pageview');

	script.
		(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-NG3DCTG');

	//// Styles & Fonts ///////////////////////////////////////////////////////
	// not hosted local
	link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,600,700,300', rel='stylesheet', type='text/css')
	// link(rel="stylesheet", href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css")

	// hosted local
	link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:300', type='text/css')
	link(rel='stylesheet', href='/styles/font-awesome/css/font-awesome.min.css', type='text/css')
	link(rel='stylesheet', href='/styles/styles.css', type='text/css')

	//// Scripts //////////////////////////////////////////////////////////////
	// not hosted local
	script(src="https://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin="anonymous")
	//script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
	script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
	script(type='text/javascript', src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
	script(type='text/javascript', src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
	script(src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js")

	// hosted local
	script(type='text/javascript', src='/components/duck/duck.min.js')
	script(type='text/javascript', src='/components/toggle/toggle.min.js')
	script(type='text/javascript', src='/components/accordion/accordion.min.js')
	script(type='text/javascript', src='/components/banner/banner.min.js')
	script(type='text/javascript', src='/components/copy/copy.min.js')
	script(type='text/javascript', src='/components/icon/icon.min.js')
	script(type='text/javascript', src='/components/interiorNav/interiorNav.min.js')
	script(type='text/javascript', src='/components/scroll/scroll.min.js')
	script(type='text/javascript', src='/components/stickey/stickey.min.js')
	script(type='text/javascript', src='/components/sortable/sortable.min.js')
	script(type='text/javascript', src='/components/stopProp/stopProp.min.js')
	script(type='text/javascript', src='/components/tabs/tabs.min.js')
	if (user && user.isAdmin)
		script(type='text/javascript', src='/components/duckForm/duckForm.min.js')
	
	script(type='text/javascript', src='/js/scripts.min.js')
	

	// include summernote css/js
	link(href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css", rel="stylesheet")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js")

	// Google maps api
		script(type='text/javascript', src='https://maps.google.com/maps/api/js??key=AIzaSyAqi8KpEFUzbQ-MiDK21GojT2cphVhk0Ms &libraries=places&sensor=false')
		script(type='text/javascript', src='/scripts/google.js')

	// api calls
		script(type='text/javascript', src='/scripts/calls.js')

	// scripts
	-
		function uuid() {return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, (c) => { const r = Math.random()*16|0, v = c === 'x' ? r : (r&0x3|0x8);return v.toString(16);})}
		function randomizeArray(a, b) { var x = Math.random(); if(x>.5){return 1;}if(x<.5){return -1;}return 0;}
		function sortByOrder(a, b){const aOrder = parseInt(a.order, 10), bOrder = parseInt(b.order, 10); if(aOrder > bOrder){return 1} if(aOrder < bOrder){return -1} return 0; }
		function getIcon(icon) {
			const icons = {
				walk: 'fa fa-blind',
				car: 'fa fa-car',
				bicycle: 'fa fa-bicycle',
				bus: 'fa fa-bus',
				subway: 'fa fa-subway',
				train: 'fa fa-train',
				boat: 'fa fa-ship',
				plane: 'fa fa-plane',
				airport: 'fa fa-plane',
				attraction: 'fa fa-university',
				station: 'fa fa-train',
			};

			return icons[icon];
		}
		function wysiwygHasData(data) {
			const empytValues = [
				undefined,
				null,
				'<p><br></p>',
				'<div><br></div>',
				'<div><p><br></p></div>',
				'<br>',
			]

			return !(empytValues.indexOf(data) > -1)
		}
		function createValidAttributeFromTitle(title) {
			const findInvalidAttributeCharacters = /[^a-z0-9\s]|^[^a-z\s]+/gi;
			const findMultipleSpaces = /\s\s+/g;
			const findAllSpaces = /\s/g;

			return title.replace(findInvalidAttributeCharacters, '')
				.replace(findMultipleSpaces, ' ')
				.trim()
				.replace(findAllSpaces, '-');
		}

		var attractionCategories = [
							'Other',
							'Buildings & Scyscrapers',
							'Parks & Public Spaces',
							'Monuments & Sculptures',
							'Piers & Boardwalks',
							'Amusement Parks',
							'Music Venues & Theatres',
							'Local Experience & Culture',
							'Museums',
							'Tours',
							'Food and Drinks',
							'Outdoor Activities',
							'Top Attraction',
						];
	block head