if (!user)
	.login-control
		//button.btn.sign-up.hidden-xs(type='button', data-toggle='modal', data-target='#SignupModal', tab-index='2') Sign Up
		button.btn.btn-default.bw-N(type='button', data-toggle='modal', data-target='#LoginModal', tab-index='1') Log In

	.modal.fade#LoginModal(tab-index='-1', role='dialog', aria-labelledby="LoginModalLabel")
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h4.mt-0.mb-0.pl-Sm.fc-G Log In
					button.close.p-A.t-Xs.r-Xs(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;
				form.modal-body.login(method='POST', action='/auth/local')
					input(type='hidden', name='_csrf', value= csrfToken)
					.col-xs-12
						a.btn.btn-lg.bg-Bl__fb.fc-W.mb-Sm(href="/auth/facebook") #[i.fa.fa-facebook-official.mr-Xs(aria-hidden='true')] Continue with Facebook
					.col-xs-12
						.text-wings.fc-G.mb-Sm
							hr
							span or
							hr

					.col-xs-12.mb-Sm
						label.input-label.w-100.p-R
							i.fa.fa-envelope.p-A.t-0.b-0.r-Md.d-F.fj-C.fd-C.fs-Lg(aria-hidden="true")
							input#Email.form-control.input-lg.mt-0(name='email', type='email', placeholder='Email Address')

					.col-xs-12.mb-Md
						label.input-label.w-100.p-R
							i.fa.fa-lock.p-A.t-0.b-0.r-Md.d-F.fj-C.fd-C.fs-Lg(aria-hidden="true")
							input#Passphrase.form-control.input-lg.mt-0(name='password', type='password', placeholder='Password')
						p.help-block.ta-R
							a.fs-12(href='/reset-password') Forgot Password
							| &nbsp;|&nbsp;
							button.fs-12.p-0.bw-N.bg-N.fw-B.fc-Purp(type='button', data-dismiss='modal', data-toggle='modal', data-target='#SignupModal') Sign Up
							//a.fs-12(href='/sign-up') Sign Up

					//.col-xs-8
						.checkbox
							label.fc-G__dk
								input(type='checkbox', name='remember')
								| Remember me
					.col-xs-12.col-sm-8
						input.btn.btn-lg.bg-Gr.fc-G__ltst(type='submit', value='Log In')
					.col-xs-12.col-sm-4
						input.btn.btn-lg.btn-default(type='button', data-dismiss='modal', data-toggle='modal', data-target='#SignupModal', value='Sign Up') 

				//.modal-footer
					.col-xs-12.col-sm-6.col-md-8
						p Don't have an account?
								button.btn-default.ml-Sm(type='button', data-dismiss='modal', data-toggle='modal', data-target='#SignupModal') Sign Up
	.modal.fade#SignupModal(tab-index='-1', role='dialog', aria-labelledby="SignupModal")
		.modal-dialog(role='document')
			form.modal-content(method='POST', action='/signup')
				input(type='hidden', name='_csrf', value= csrfToken)
				.modal-header
					h4.mt-0.mb-0.pl-Sm.fc-G Sign Up
					button.close.p-A.t-Xs.r-Xs(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;
				.modal-body.fc-B
					.col-xs-12.col-sm-6
						.form-group
							label First Name
								input.form-control(name='name.first', type='text', placeholder='John')
					.col-xs-12.col-sm-6
						.form-group
							label Last Name
								input.form-control(name='name.last', type='text', placeholder='Doe')
					.col-xs-12
						.form-group
							label Username
								small &nbsp; (must be unique)
								input.form-control.js-signup-username(name='username', type='text', placeholder='gl0b3tr0773r', required)

						.form-group
							label Email
								small &nbsp; (must be unique)
								input.form-control.js-signup-email(name='local.email', type='email', placeholder='joe@gmail.com', required)

						.form-group
							label Passphrase
								small &nbsp; (passphrase must be 8+ characters)
								input.form-control.js-signup-pass(name='local.password', type='password', placeholder='StellarouteIsTheBest!', required)
						.form-group
							label Repeat Passphrase
								input.form-control.js-signup-pass-repeat(placeholder='StellarouteIsTheBest!', required, type='password')

						.text-wings.fc-G.mb-Sm
							hr
							span or
							hr

						a.btn.btn-lg.bg-Bl__fb.fc-W.mb-Sm(href="/auth/facebook") #[i.fa.fa-facebook-official.mr-Xs(aria-hidden='true')] Continue with Facebook

				.modal-footer.plr-Md
					.row.ta-L
						.col-xs-12.col-sm-6.ta-R--sm.f-R
							input.btn.btn-primary(type='submit', value='Create')
						.col-xs-12.col-sm-6
							button.btn-default(type='button', data-dismiss='modal', data-toggle='modal', data-target='#LoginModal') Back to Login

	if !loginScriptLoaded
		script(src='/controls/login/login.min.js', type='text/javascript')
		- loginScriptLoaded = true;
else
	- var loginClasses = `ws-NoWrap bg-N bw-N pt-0 ${headerBackground === 'none' ? 'fc-W' : 'fc-B'}`;

	nav.dropdown
		button#UserMenu(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false", class= loginClasses)
			if (user.name && user.name.first)
				span= user.name.first + ' '
			else
				span User
			
			if user.instagram
				img.br-C.ml-XXs(src=user.instagram.profile_picture, alt=user.name.first, style= {'max-width': '32px'})
			else if user.profilePicture
				img.br-C.ml-XXs(src=getImagePath(user.profilePicture, 'thumb2'), alt=user.name.first, style= {'max-width': '32px'})
			else
				i.fa.fa-user(aria-hidden="true")

		ul.dropdown-menu.l-A.r-0(aria-labelledby="UserMenu")
			li: a(href='/profile') My Account
			li: a(href='/') Guides
			li: a(href='/about-us') About Us
			li: a(href='/contact-us') Contact Us
			if user.isAdmin
				li.divider(role="separator")
				li: a(href='/admin') Admin Panel
			li.divider(role="separator")
			li: a(href='/logout') Log Out