block content
	if (user && user.isAdmin)
		.ta-r
			button.btn.btn-primary(data-target='#AddAttraction', data-toggle='modal') Add Attraction

		+modal('AddAttraction')
			h2.content-card--header Add New Attraction Item
			+attractionForm('add', null, {city: [city.Id]})

	if (attractions.length)
		.masonry.masonry-grid-1.masonry-grid-3--md.masonry-grid-4--lg.pt-Sm
			for attraction in attractions
				.masonry--item(data-toggle='modal', data-target= `#${attraction.url}-attraction`)
					+card(attraction.cardImage, attraction.names.display)
					
		for attraction, i in attractions
			+modal(`${attraction.url}-attraction`)
				div(id=`AttractionOverview${i}`, data-toggle='hidden')
					h2.content-card--header.fw-B.fc-B= attraction.names.display
					.lead!= attraction.description
					img.w-100(src= attraction.cardImage || 'http://placebear.com/600/400', alt= attraction.names.display)

					.ta-R.mt-Md
						a.btn.btn-default(data-dismiss='modal') Close
						a.btn.btn-secondary(href=`/${city.countryUrl}/${city.url}/attraction/${attraction.url}`) Read More
		
	else
		.content-card
			p.lead Sorry, but it appears that no attractions have been added for this city yet, please check back soon.
			p If you would like to help us fill out content for this area, please send us an email to <a href='mailto:info@stellaroute.com'>info@stellaroute.com</a> and we will get back to you shortly.