block content
	if userIsAuthorized()
		.ta-R
			button.btn.btn-primary(data-target='#AddAttraction', data-toggle='modal') Add Attraction

		+modal('AddAttraction')
			h2.content-card--header Add New Attraction Item
			+attractionForm('add', null, {city: [city.Id]})

	if (attractions.length)
		.row
			.col-xs-12.col-sm-4.col-md-3.col-lg-2(data-function='filter')
				div(data-function='stickey')
					div(data-stickey='content')
						.visible-xs
							button.btn.btn-default.w-100(data-function='toggle', data-target='[data-filter-section="attraction-category"]') Filter
						.hidden-xs.bg-W.bg-N--sm.p-Sm.p-N--sm(data-toggle='hidden-xs')
							div(data-filter-section='top-attraction')
								.checkbox.checkbox-right
									label
										span.hidden-xs Only Top Attractions
										input(type='checkbox', value='true')
										span.visible-xs Only Top Attractions
							div(data-filter-section='attraction-category')
								h2.mt-0.pt-Sm.ta-R--sm Category
								for category in attractionCategories
									.checkbox.checkbox-right
										label
											span.hidden-xs= category
											input(type='checkbox', value= category)
											span.visible-xs= category

			.col-xs-12.col-sm-8.col-md-9.col-lg-10
				.masonry.masonry-grid-1.masonry-grid-3--md.masonry-grid-4--lg.pt-Sm
					for attraction in attractions
						.masonry--item(data-filter-attraction-category= attraction.category && attraction.category.join('|') || 'Unknown', data-filter-top-attraction= attraction.isTopAttraction && 'true')
							a(href=`/${city.countryUrl}/${city.url}/attraction/${attraction.url}`)
								+card(attraction.cardImage, attraction.names.display)
		
	else
		.content-card
			p.lead Sorry, but it appears that no attractions have been added for this city yet, please check back soon.
			p If you would like to help us fill out content for this area, please send us an email to <a href='mailto:info@stellaroute.com'>info@stellaroute.com</a> and we will get back to you shortly.