extends ../../layout.pug

append header
	-
		var foodTagColors = {
			'Only In': 'green',
			'Local Cuisine': 'purple',
			'Restaurant': 'blue',
			'Bar': 'blue',
			'Drinks': 'orange',
			'Best Dishes': 'red',
		};

block content
	div(style=`background: rgba(0, 0, 0, 0) url("${getImagePath(city.backgroundImage, 'large')}") no-repeat scroll center 57% / cover;`)
			.bg-Dkr
				.container.ptb-0.p-R
					ol.breadcrumb
						li.active: a(href= '/') Home

					+formStart(city, 'Cities')
						+view
							h1= city.names.display
								small.ml-Md= city.tagline
								button.btn.btn-edit.f-R.bg-W(duck-button='edit', data-icon='fa fa-pencil')
						+edit('p-Sm bg-W')
							+object('names')
								.row
									.col-xs-12.col-sm-6
										+string(city.names, 'display', 'Display Name')
									.col-xs-12.col-sm-6
										+string(city.names, 'official', 'Official Name')
									.col-xs-12.col-sm-6
										+array(city.names, 'alias', 'Alias\'', 'Add Alias')

							.row
								.col-xs-12.col-sm-6
									+string(city, 'tagline', 'Tagline')

								.col-xs-12.col-sm-6
									+image(city, 'backgroundImage', 'Background Image')
											
							.row
								.col-xs-12.col-sm-6
								.col-xs-12.col-sm-6
									+image(city, 'cardImage', 'Card Image')

				nav.tabbed-nav(data-tabs='controls')
					a.tabbed-nav--tab(href='#Overview', role='tab', aria-expanded='true') Overview
					a.tabbed-nav--tab.p-0(href='#Guides', role='tab', aria-expanded='false')
						.d-F.fai-C.p-Sm
							img.d-Ib.pr-Xs(src='/images/plain_logo_white.svg', title='logo', style='width: 24px;')
							| Guides
					a.tabbed-nav--tab(href='#Neighborhoods', role='tab', aria-expanded='false') Neighborhoods
					a.tabbed-nav--tab(href='#Food', role='tab', aria-expanded='false') Food
					a.tabbed-nav--tab(href='#Attractions', role='tab', aria-expanded='false') Attractions
	
	if user && userIsAuthorized()
		+modal('EditCityForm')(class='modal-lg')
			+cityForm('update', city)
	
	.container
		+shareThis(city.cardImage)
		div(data-function='tabs')
			#Overview.tabbed-nav--tabpanel(role='tabpanel', aria-hidden='false')
				include overview.pug
			#Attractions.tabbed-nav--tabpanel(role='tabpanel', aria-hidden='true')
				include attractions.pug
			#Food.tabbed-nav--tabpanel(role='tabpanel', aria-hidden='true')
				include food.pug
			#Guides.tabbed-nav--tabpanel(role='tabpanel', aria-hidden='true')
				include guides.pug
			#Neighborhoods.tabbed-nav--tabpanel(role='tabpanel', aria-hidden='true')
				include neighborhoods.pug

	// food modals
	for item, i in city.food && city.food.foods ? city.food.foods.filter((i) => i.name) : []
		+modal(createValidAttributeFromTitle(item.name))
			+formStart(city, 'Cities')
				h2.content-card--header.fw-B.fc-B= item.name
					+editButton()(class='f-R mt-NegSm mr-NegSm')

				+view
					.lead!= item.description
					img.w-100(src= getImagePath(item.image, 'medium'), alt= item.name)
					if (item.suggestedRestaurant)
						h3 Best Place to Get it:
						p!= item.suggestedRestaurant

					if (item.dishes)
						h3 Dishes
						ul
							for dish in item.dishes
								li= dish

					if (item.whatToOrder)
						h3 What to Have
						p= item.whatToOrder

					if (item.address)
						h3 Where is It?
						address
							span= item.address
							span= item.area

					.ta-R
						a.btn.btn-default(data-dismiss='modal') Close
						if (item.blog)
							a.btn.btn-secondary.btn-lg.mt-Sm(href=item.blog) Read More
				+edit(null, false)
					+object('food')
						+array(null, 'foods')
							+object()(duck-key='Id', duck-key-value=item.Id)
								+string(item, 'name', 'Name')
								+number(item, 'order', 'Order')
								+image(item, 'image', 'Image')
								+select(item, 'category', 'Category', ['Only In', 'Local Cuisine', 'Best Dishes', 'Drinks', 'Restaurant', 'Bar',])
								+string(item, 'tagline', 'Tagline')
								+wysiwyg(item, 'description', 'Description')
								+checkbox(item, 'contains', 'Contains', ['Shellfish', 'Gluten', 'Nuts', 'Meat', 'Dairy',])
								+array(item, 'dishes', 'Dishes', 'Add Dish')
								+string(item, 'area', 'Area')
								+string(item, 'address', 'Address')
								+string(item, 'whatToOrder', 'What to Order')
								+string(item, 'suggestedRestaurant', 'Suggested Restaurant')
								+string(item, 'readMore', 'Read More Link')
						
					button.btn.btn-primary(duck-button='submit') Save
					