extends ../../layout.pug

block content
	div(style=`background: rgba(0, 0, 0, 0) url("${city.backgroundImage ? city.backgroundImage : 'http://placebear.com/600/150'}") no-repeat scroll center 57% / cover;`)
			.bg-Dkr
				.container.ptb-0
					if user && user.isAdmin
						button.btn.btn-primary.p-A.r-Sm.t-Sm(data-toggle='modal', data-target='#EditCityForm') Edit
						.bg-W.p-A.p-Xs.r-Sm.b-0.z-1= city.Id
					ol.breadcrumb
						li.active= city.countryDisplay
						li.active= city.provinceDisplay
						li.active= city.names.display
					h1= city.names.display
						small.ml-Md Broad Shoulders, Down to Earch, Great Food

					nav(data-tabs='controls')
						a.tabbed-nav--tab(href='#Overview', data-tabs='control') Overview
						a.tabbed-nav--tab(href='#Attractions', data-tabs='control') Attractions
						a.tabbed-nav--tab(href='#Food', data-tabs='control') Food
						a.tabbed-nav--tab(href='#Guides', data-tabs='control') Guides
						a.tabbed-nav--tab(href='#Neighborhoods', data-tabs='control') Neighborhoods
	
	if user && user.isAdmin
		+modal('EditCityForm')(class='modal-lg')
			+cityForm('update', city)
	
	.container.ptb-Sm(data-function='tabs')
		#Overview.tabbed-nav--tabpanel.active(data-tabs='panel')
			include overview.pug
		#Attractions.tabbed-nav--tabpanel.hidden(data-tabs='panel')
			include attractions.pug
		#Food.tabbed-nav--tabpanel.hidden(data-tabs='panel')
			include food.pug
		#Guides.tabbed-nav--tabpanel.hidden(data-tabs='panel')
			include guides.pug
		#Neighborhoods.tabbed-nav--tabpanel.hidden(data-tabs='panel')
			include neighborhoods.pug
