extends ../../layout.pug

append head
	script(src='/js/pages/city.min.js')
	-
		function randomizeArray(a, b) { var x = Math.random(); if(x>.5){return 1;}if(x<.5){return -1;}return 0;}

	script.
		function changeTab(i){
			return function(){
				var $navTabs = $('.city-nav--tab');
				var $navTab = $(this);
				var $tabPanels = $('.city-nav--tabpanel');
				var $tabPanel = $tabPanels.eq(i);

				$navTabs.attr('aria-expanded', false);
				$navTab.attr('aria-expanded', true);

				$tabPanels.attr('aria-hidden', true);
				$tabPanel.attr('aria-hidden', false);
			};
		};

		jQuery(($) => {
			$('.city-nav--tab').each((i, item) => {
				$(item).click(changeTab(i));
			})
		});

block content
	div(style='background: rgba(0, 0, 0, 0) url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/XPABV05EQ9.jpg") no-repeat scroll center 57% / cover;')
			.bg-Dkr
				.container.ptb-0
					ol.breadcrumb
						li.active= city.countryDisplay
						li.active= city.provinceDisplay
						li.active= city.names.display
					h1= city.names.display
						small.ml-Md Broad Shoulders, Down to Earch, Great Food

					nav.city-nav
						button.city-nav--tab(role='tab', aria-expanded='true') Overview
						button.city-nav--tab(role='tab', aria-expanded='false') Attactions
						button.city-nav--tab(role='tab', aria-expanded='false') Food
						button.city-nav--tab(role='tab', aria-expanded='false') Guides
						button.city-nav--tab(role='tab', aria-expanded='false') Neighborhoods

	.container.ptb-Sm
		.city-nav--tabpanel(role='tabpanel', aria-hidden='false')
			include overview.pug
		.city-nav--tabpanel(role='tabpanel', aria-hidden='true')
			include attractions.pug
		.city-nav--tabpanel(role='tabpanel', aria-hidden='true')
			include food.pug
		.city-nav--tabpanel(role='tabpanel', aria-hidden='true')
			include guides.pug
		.city-nav--tabpanel(role='tabpanel', aria-hidden='true')
			include neighborhoods.pug

	if (user && user.isAdmin)
		input#CityId(type='hidden', value=city.Id)
	//.container.ptb-Sm
		.row
			.col-xs-12.col-sm-6.col-md-4
				.content-card
					h2 At a Glance
					ul.ls-N.p-0
						li.mb-Sm 
							.row
								.hidden-xs.col-xs-1.ta-C
									i.fa.fa-sun-o.fc-G__lt 
								.col-xs-6.col-sm-5 
									span.lh-1.fc-G__dk Suggested Stay
								.col-xs-6.ta-C 
									strong.lh-1 8 days
						li.mb-Sm 
							.row
								.hidden-xs.col-xs-1.ta-C
									i.fa.fa-clock-o.fc-G__lt 
								.col-xs-6.col-sm-5 
									span.lh-1.fc-G__dk Best Time to Go
								.col-xs-6.ta-C
									strong.d-B.lh-1 Mar - May;
									strong.d-B.lh-1 Sep - Nov
						li
							.row
								.hidden-xs.col-xs-1.ta-C
									i.fa.fa-map-marker.fc-G__lt 
								.col-xs-6.col-sm-5 
									span.lh-1.fc-G__dk Top Places	
								.col-xs-6.ta-C
									strong.d-B.lh-1 Tokyo;
									strong.d-B.lh-1 Hiroshima
				// Before You Go
				.content-card
					h2 Before You Go

					h3.pb-Xs.m-0.lh-1 Visa
					p Canadian, Bermudan, and some European citizens do not need a travel visa. For a full list click 
						a.fw-B(href="www.nhl.com") here

					h3.pb-Xs.m-0.lh-1 Vaccines
					p US Customs closely monitors travelers coming into the country. Check your country for specific requirements before travelling to the US 
				// Quick Facts Card
				.content-card
					h2 Quick Facts

					h3.pb-Xs.m-0.lh-1 Small Penises
					p The Japanese are renowned around the world for their espicially small penises. Not to be confused for micro penises, these small organs are a distinguishing feature of Japanses males.

					h3.pb-Xs.m-0.lh-1 The Millions of Millennial Virgins
					p Remember all those jokes about computer geeks and gamers not getting laid? Well it's no joke in Japan. Roughly 30% of all people aged 18 - 30 are virgins and have no interest in having sex. It's a pandemic of sorts. 
				// Local Food and Drink
				.content-card.pb-0
					h2 Local Food &amp; Drink
					
					div.d-F.ta-C
						span.pl-Xs.lh-1.fc-Gr <img src="https://placebear.com/120/120">
						div 
							h3.m-0.mb-Xs.lh-1 Crab Cakes
							p.lh-1 Mid-Atlantic seafood specialty with many regional and stulistic distinctions.
					ul.mtb-Sm
						li Cakes, Sandwiches, or Benedicts
						li Lump, Flake, and Claw meat are regularly used
						li The Blue Crab, native to Chesapeake Bay, is the local favorite
					.row.ta-C.bg-G
						h4.fc-W.fs-14 SPONSORED RESTAURANT  
				// People and Customs
				.content-card
					h2 People and Customs

					h3.pb-Xs.m-0.lh-1 Polite and Rspectful
					p The Japanese are renowned around the world for their espicially small penises. Not to be confused for micro penises, these small organs are a distinguishing feature of Japanses males.

					h3.pb-Xs.m-0.lh-1 Wonderful Hosts
					p Remember all those jokes about computer geeks and gamers not getting laid? Well it's no joke in Japan. Roughly 30% of all people aged 18 - 30 are virgins and have no interest in having sex. It's a pandemic of sorts.
				// Getting Around Card
				.content-card.pb-0
					h2 Getting Around

					h3.d-F
						i.fa.fa-plane.w-20.pl-Xs.lh-1.fs-48.fc-G
						span.plr-Sm.ta-C The Best Public Transit in the World
					p
						strong Arrive:
						|	Tokyo Narita (NRT), Tokyo Haneda (HND)
					p
						strong Move Around:
						|	Trains and buses are the easiest way to get around
					p
						strong Lay of the Land:
						|	Extensive and organized public transit system connection every major city and attraction
					p.pb-Sm.ta-R
						a.fw-B(href="nhl.com") More Info
			// Main Content Section
			.col-xs-12.col-sm-6.col-md-8
				.content-card
					h2 What to Know
					ol.ls-N.p-N
						li.d-F
							span.pr-Sm.fs-48.lh-1.fc-Gr 1
							div
								h3.m-0.lh-1 Cultural Differences
								p Japanese culture is not completely uniquie, but there  are some differences travelers should be aware of. From taking your shoes off indoors, never tipping, and a bevvy of table manners, be aware if you want to make a good impression.
						li.d-F
							span.pr-Sm.fs-48.lh-1.fc-Gr 2
							div
								h3.m-0.lh-1 Tranposrtation is a Breeze
								p The country is incredibly well connected by public transport. Unless you're going to a remote area, you'll never need to step foot in a car. 
						li.d-F
							span.pr-Sm.fs-48.lh-1.fc-Gr 3
							div
								h3.m-0.lh-1 Four Islands
								p Japan is an archipelago primarily made up of four main islands: Kyushu, Shikoku, Honshu, and Hokkaido. Honshu is the main island with the majority of cities and attractions.
			.col-xs-12.col-sm-6.col-md-8
				.content-card
					h2 
						a.fc-G__lt(href="www.nhl.com") Top Destinations
						select.ml-Sm.bw-N.fc-B.fs-16
							option Overall
							option You Know Nothing
							option Winter is Coming
							option Lannisters are never debt free
					ol.ls-N.p-N.mlr-NegSm
						li
							.row.d-F.plr-Sm
								.col-xs-2.col-sm-1.ta-C.fas-C.ta-R
									span.fs-48.lh-1.fc-Gr 1
								.col-xs-3
									span.lh-1.fc-Gr <img src="https://placebear.com/120/120">
								.col-xs-7.col-sm-8
									h3.pt-Sm.m-0.lh-1 Air and Space Museum
									p With many of the city's sites closely packed together this is an easy city to get around by foot and public transit (not so great for cars)
						li.bg-G__ltr
							.row.d-F.plr-Sm
								.col-xs-2.col-sm-1.ta-C.fas-C.ta-R
									span.fs-48.lh-1.fc-Gr 2
								.col-xs-3
									span.lh-1.fc-Gr <img src="https://placebear.com/120/120">
								.col-xs-7.col-sm-8
									h3.pt-Sm.m-0.lh-1 Big Gay Al's Adventure Funland in SouthPark Colorado 
									p With many of the city's sites closely packed together this is an easy city to get around by foot and public transit (not so great for cars)
						li
							.row.d-F.plr-Sm
								.col-xs-2.col-sm-1.ta-C.fas-C.ta-R
									span.fs-48.lh-1.fc-Gr 3
								.col-xs-3
									span.lh-1.fc-Gr <img src="https://placebear.com/120/120">
								.col-xs-7.col-sm-8
									h3.pt-Sm.m-0.lh-1 Air and Space Museum
									p With many of the city's sites closely packed together this is an easy city to get around by foot and public transit (not so great for cars)
						li.bg-G__ltr
							.row.d-F.plr-Sm
								.col-xs-2.col-sm-1.ta-C.fas-C.ta-R
									span.fs-48.lh-1.fc-Gr 4
								.col-xs-3
									span.lh-1.fc-Gr <img src="https://placebear.com/120/120">
								.col-xs-7.col-sm-8
									h3.pt-Sm.m-0.lh-1 Big Gay Al's Adventure Funland in SouthPark Colorado 
									p With many of the city's sites closely packed together this is an easy city to get around by foot and public transit (not so great for cars)
						li
							.row.d-F.plr-Sm
								.col-xs-2.col-sm-1.ta-C.fas-C.ta-R
									span.fs-48.lh-1.fc-Gr 5
								.col-xs-3
									span.lh-1.fc-Gr <img src="https://placebear.com/120/120">
								.col-xs-7.col-sm-8
									h3.pt-Sm.m-0.lh-1 Air and Space Museum
									p With many of the city's sites closely packed together this is an easy city to get around by foot and public transit (not so great for cars)
			.col-xs-12.col-sm-6.col-md-8
				.content-card
					h2 
						a.fc-G__lt(href="www.nhl.com") Top Attractions
						select.ml-Sm.bw-N.fc-B.fs-16
							option Overall
							option You Know Nothing
							option Winter is Coming
							option Lannisters are never debt free
					ol.ls-N.p-N.mlr-NegSm
						li
							.row.d-F.plr-Sm
								.col-xs-2.col-sm-1.ta-C.fas-C.ta-R
									span.fs-48.lh-1.fc-Gr 1
								.col-xs-3
									span.lh-1.fc-Gr <img src="https://placebear.com/120/120">
								.col-xs-7.col-sm-8
									h3.pt-Sm.m-0.lh-1 Air and Space Museum
									p With many of the city's sites closely packed together this is an easy city to get around by foot and public transit (not so great for cars)
						li.bg-G__ltr
							.row.d-F.plr-Sm
								.col-xs-2.col-sm-1.ta-C.fas-C.ta-R
									span.fs-48.lh-1.fc-Gr 2
								.col-xs-3
									span.lh-1.fc-Gr <img src="https://placebear.com/120/120">
								.col-xs-7.col-sm-8
									h3.pt-Sm.m-0.lh-1 Big Gay Al's Adventure Funland in SouthPark Colorado 
									p With many of the city's sites closely packed together this is an easy city to get around by foot and public transit (not so great for cars)
						li
							.row.d-F.plr-Sm
								.col-xs-2.col-sm-1.ta-C.fas-C.ta-R
									span.fs-48.lh-1.fc-Gr 3
								.col-xs-3
									span.lh-1.fc-Gr <img src="https://placebear.com/120/120">
								.col-xs-7.col-sm-8
									h3.pt-Sm.m-0.lh-1 Air and Space Museum
									p With many of the city's sites closely packed together this is an easy city to get around by foot and public transit (not so great for cars)
						li.bg-G__ltr
							.row.d-F.plr-Sm
								.col-xs-2.col-sm-1.ta-C.fas-C.ta-R
									span.fs-48.lh-1.fc-Gr 4
								.col-xs-3
									span.lh-1.fc-Gr <img src="https://placebear.com/120/120">
								.col-xs-7.col-sm-8
									h3.pt-Sm.m-0.lh-1 Big Gay Al's Adventure Funland in SouthPark Colorado 
									p With many of the city's sites closely packed together this is an easy city to get around by foot and public transit (not so great for cars)
						li
							.row.d-F.plr-Sm
								.col-xs-2.col-sm-1.ta-C.fas-C.ta-R
									span.fs-48.lh-1.fc-Gr 5
								.col-xs-3
									span.lh-1.fc-Gr <img src="https://placebear.com/120/120">
								.col-xs-7.col-sm-8
									h3.pt-Sm.m-0.lh-1 Air and Space Museum
									p With many of the city's sites closely packed together this is an easy city to get around by foot and public transit (not so great for cars)
		//Original Form
		if user && user.isAdmin
			.content-card
				form.update-form(method='POST', action='/cities/update')
					.form-group
						label Name
						p.form-control-static= city.names.display
						.hidden
							input.form-control(name='names.display', type='text', placeholder='name', value=city.names.display)

					.form-group
						label Country Region(s)
						p.form-control-static
							if city.countryRegionsDisplay
								-for (i in city.countryRegionsDisplay)
									a(href=`/${city.countryUrl}/${city.countryRegionsUrl[i]}`)= city.countryRegionsDisplay && city.countryRegionsDisplay.indexOf(city.countryRegionsDisplay[i]) == city.countryRegionsDisplay.length-1 ? city.countryRegionsDisplay[i] : `${city.countryRegionsDisplay[i]}, ` 
							else
								| N/A
						.hidden
							select.form-control(name='countryRegions', multiple)
								for region in countryRegions
									option(value=region.Id, selected= city.countryRegions && city.countryRegions.indexOf(region.Id) > -1)= region.names.display

					.row
						.col-xs-12.col-sm-6
							.form-group
								label State/Province
								p.form-control-static
									if city.provinceDisplay
										-for (i in city.provinceDisplay)
											a(href=`/${city.countryUrl}/${city.provinceUrl[i]}`)= city.provinceDisplay && city.provinceDisplay.indexOf(city.provinceDisplay[i]) == city.provinceDisplay.length-1 ? city.provinceDisplay[i] : `${city.provinceDisplay[i]}, ` 
									else
										| N/A
								.hidden
									select.form-control(name='province', multiple)
										for province in provinces
											option(value=province.Id, selected= city.province && city.province.indexOf(province.Id) > -1)= province.names.display

						.col-xs-12.col-sm-6
							.form-group
								label State/Province Region(s)
								p.form-control-static
									if city.provinceRegionsDisplay
										-for (i in city.provinceRegionsDisplay)
											a(href=`/${city.countryUrl}/${city.provinceRegionsUrl[i]}`)= city.provinceRegionsDisplay && city.provinceRegionsDisplay.indexOf(city.provinceRegionsDisplay[i]) == city.provinceRegionsDisplay.length-1 ? city.provinceRegionsDisplay[i] : `${city.provinceRegionsDisplay[i]}, ` 
									else
										| N/A
								.hidden
									select.form-control(name='provinceRegions', multiple)
										for region in provinceRegions
											option(value=region.Id, selected= city.provinceRegions && city.provinceRegions.indexOf(region.Id) > -1)= region.names.display

					input(type='hidden', name='redirect', value=`/${city.countryUrl}/${city.url}`)
					input(type='hidden', name='deleteRedirect', value=`/${city.countryUrl}`)
					input(type='hidden', name= key, value= city[key])
					input.btn.btn-primary.btn-update(type='button', value='Update')
					| &nbsp;
					input.btn.btn-primary.btn-save.hidden(type='submit', value='Save', name='update')
					button.btn.btn-danger.ml-Sm(type='button', data-toggle='modal', data-target='#DeleteModal') Delete
					
					.modal.fade#DeleteModal(tab-index='-1', role='dialog', aria-labelledby="DeleteModalLabel")
						.modal-dialog(role='document')
							.modal-content
								.modal-header
									button.close(type='button', data-dismiss='modal', aria-label='Close')
										span(aria-hidden='true') &times;
									h4.modal-title#DeleteModalLabel
										| Delete&nbsp;
										= city.names.display
								.modal-body
									.alert.alert-danger
										p
											| Are you sure you want to delete&nbsp;
											= city.names.display + '?'
										p This action cannot be undone
									input.btn.btn-danger(type='submit', value='Delete', name='delete')

								.modal-footer
									button.btn.btn-default(type='button', data-dismiss='modal') Close

			.row
			.col-xs-12.col-sm-6
				.content-card.p-R
					h2 City Regions
					ul
						for region in cityRegions
							li
								a(href=`/${city.countryUrl}/${city.url}/${region.url}`)= region.names.display

					.clear
						button.btn.btn-primary.f-R(data-toggle='modal', data-target='#AddCityRegion') Add Region
					button.btn.btn-primary.p-A.t-Md.r-Md(data-toggle='modal', data-target='#AddCityRegion') Add Region

			.col-xs-12.col-sm-6
				.content-card.p-R
					h2 Neighborhoods
					ul
						for neighborhood in neighborhoods
							li
								a(href=`/${city.countryUrl}/${city.url}/${neighborhood.url}`)= neighborhood.names.display

					.clear
						button.btn.btn-primary.f-R(data-toggle='modal', data-target='#AddNeighborhood') Add Neighborhood
					button.btn.btn-primary.p-A.t-Md.r-Md(data-toggle='modal', data-target='#AddNeighborhood') Add Neighborhood
	//if user && user.isAdmin
		.modal.fade#AddCityRegion(tab-index='-1', role='dialog')
				.modal-dialog(role='document')
					form.modal-content(method='POST', action='/city-regions/new')
						.modal-header.mb-Md
							h4.mt-0.mb-0.pl-Sm.fc-G
								| Add a City Region to&nbsp;
								span= city.names.display
							button.close.p-A.t-Xs.r-Xs(type='button', data-dismiss='modal', aria-label='Close')
								span(aria-hidden='true') &times;
						.modal-body.plr-Md.pb-Md
							.row
								.col-xs-12
									.form-group
										label(for='CityRegionName') Name
										input.form-control#CityRegionName(name='names.display', type='text', placeholder='America', required)

							.form-group.mb-0
								input.hidden(name='city', value=city.Id)
								button.btn.btn-primary.btn-Sm(type='submit', value= `/${city.countryUrl}/${city.url}`, name='redirect') Save

		.modal.fade#AddNeighborhood(tab-index='-1', role='dialog')
				.modal-dialog(role='document')
					form.modal-content(method='POST', action='/neighborhoods/new')
						.modal-header.mb-Md
							h4.mt-0.mb-0.pl-Sm.fc-G
								| Add a Neighborhood to&nbsp;
								span= city.names.display
							button.close.p-A.t-Xs.r-Xs(type='button', data-dismiss='modal', aria-label='Close')
								span(aria-hidden='true') &times;
						.modal-body.plr-Md.pb-Md
							.row
								.col-xs-12
									.form-group
										label(for='NeighborhoodName') Name
										input.form-control#NeighborhoodName(name='names.display', type='text', placeholder='SoHo', required)

							.form-group.mb-0
								input.hidden(name='city', value=city.Id)
								button.btn.btn-primary.btn-Sm(type='submit', value= `/${city.countryUrl}/${city.url}`, name='redirect') Save

	//ol.ls-N.p-0
		li
			.d-F
				.w-10.fc-Gr.fs-48.fas-C.ta-C 1
				img.w-30(src='http://farm3.static.flickr.com/2227/2551783570_7dfab464a3_b.jpg')
				.p-Md
					h3.mt-0.lh-1 John Hancock Center
					p.m-0 Located on the shore of Lake Michigan, the skyscraper offers panoramic views of the entire city. Completed in 1968, the 100-story structure boasts a number of records, including the world’s highest indoor swimming pool and ice-skating rink. Visitors can take a 40-second elevator ride to the Observatory on the 94th floor, which features an open-air skywalk. On the 96th floor is a lounge where guests can sip a cocktail or beverage while enjoying the view.
		li.bg-G__ltr
			.d-F
				.w-10.fc-Gr.fs-48.fas-C.ta-C 2
				img.w-30(src='http://farm3.static.flickr.com/2597/3727516493_f66b9ed6ee_b.jpg')
				.p-Md
					h3.mt-0.lh-1 Buckingham Fountain
					p.m-0 Located in Grant Park, the Beaux Arts-style Buckingham Fountain was designed by architect Edward Bennett after the Latona Fountain at Versailles. The font is famous for its grand size and for the height of its spray, which can reach as high as 15 stories. The fountain’s four water-spouting sea horse statues are said to represent the four states that surround Lake Michigan, while the fountain’s pool symbolizes the lake itself.
		li
			.d-F
				.w-10.fc-Gr.fs-48.fas-C.ta-C 3
				img.w-30(src='http://resources.touropia.com/gfx/d/iconic-skyscrapers/sears_tower.jpg')
				.p-Md
					h3.mt-0.lh-1 Willis Tower
					p.m-0 Willis Tower (or still Sears Tower if you're from Chicago) is arguably the most defining structure of the Chicago skyline. While you can get an amazing view from the top as well as a history lesson while you are there, going up the <a href="#">John Hancock</a> building as actually a better value (plus you get to see the iconic Willis Tower from the view!)
		li.bg-G__ltr
			.d-F
				.w-10.fc-Gr.fs-48.fas-C.ta-C 4
				img.w-30(src='http://farm5.static.flickr.com/4121/4824173611_a0864cb83b_b.jpg')
				.p-Md
					h3.mt-0.lh-1 Millennium Park
					p.m-0 Long before it opened, Millennium Park had become notorious for delays and cost-overruns, missing its titular date by a wide margin. However, when it was finished, the biggest shock of all came when it turned out to be quite nice. Aside from plenty of grass and open space, it has modern sculptures in steel and glass, including Chicago’s newest must-photo for visitors, The Bean (properly known as Cloud Gate), and the Frank Gehry-designed Pritzker Pavilion for outdoor concerts.
		li
			.d-F
				.w-10.fc-Gr.fs-48.fas-C.ta-C 5
				img.w-30(src='http://resources.touropia.com/gfx/d/tourist-attractions-in-chicago/chicago_water_tower.jpg')
				.p-Md
					h3.mt-0.lh-1 Chicago Water Tower
					p.m-0 One of the few surviving structures of the infamous Great Chicago Fire, the Chicago Water Tower is a symbol of the city’s resilience. Today, the beautiful limestone structure is home to the City Gallery, which exhibits works by local artists and photographers.