block content
	if (user && user.isAdmin)
		.ta-r
			button.btn.btn-primary(data-target='#AddGuide', data-toggle='modal') Add Guide

		#AddGuide.modal.fade(tabindex="-1", role="dialog")
			.modal-dialog.modal-lg
				.content-card
					h2.content-card--header Add New Guide Item
					+guideForm('add', null, {cities: [city.Id]})

	if (guides.length)
		.masonry.masonry-grid-1.masonry-grid-3--md.masonry-grid-4--lg.pt-Sm
			for guide in guides
				.masonry--item(data-toggle='modal', data-target= `#${guide.url}-guide`)
					+card(guide.cardImage, guide.names.display)
					
		for guide, i in guides
			+modal(`${guide.url}-guide`)
				div(id=`GuideOverview${i}`, data-toggle='hidden')
					h2.content-card--header.fw-B.fc-B= guide.names.display
					.lead!= guide.description
					img.w-100(src= guide.cardImage || 'http://placebear.com/600/400', alt= guide.names.display)

					.ta-R.mt-Md
						a.btn.btn-secondary(href=`/${city.countryUrl}/${city.url}/${guide.url}`) Read More
		
	else
		.content-card
			p.lead Sorry, but it appears that no guides have been added for this city yet, please check back soon.
			p If you would like to help us fill out content for this area, please send us an email to <a href='mailto:info@stellaroute.com'>info@stellaroute.com</a> and we will get back to you shortly.