extends ../../layout.pug

block content
	if !user || !guide
		.media-bg-img.request-page-header
			.container
				h1= guide && guide.names && guide.names.display || 'Guide Not Found'

		.container.ptb-Sm
			small
				a.fc-G(href= `/${city.countryUrl}/${city.url}`)= `< Back to ${city.names.display}`

			.content-card
				h2.content-card--header Coming soon!
				p.lead.m-0!= `More information about ${guide.names.display} is currently being developed. Please check back soon for more information. If you would like to help contribute content, please shoot us an email at <a href='mailto:info@stellaroute.com'>info@stellaroute.com</a>`
	else
		div.city-header(style=`background: rgba(0, 0, 0, 0) url("${guide.backgroundImage}") no-repeat scroll center 57% / cover;`)
				.bg-Dkr
					.container.ptb-0
						ol.breadcrumb
							li.active United Sates
							li.active Midwest
							li.active: a(href= `/${city.countryUrl}/${city.url}`) #{city.names.display}
						h1 #{guide.names.display}
							if guide.author
								small.pl-Xs= guide.author

							if guide.tagline
								small.d-B.mt-Sm= guide.tagline

		.container
			if user.isAdmin
				.ta-R
					button.btn.btn-primary(data-toggle='modal', data-target='#AddGuideModal') Edit Guide
				+modal('AddGuideModal')(class='modal-lg')
					+guideForm('update', guide)
			.row
				.col-sm-5.col-md-4.col-lg-3(data-function='stickey')
					nav(data-function='accordion, interiorNav', data-always-show-one='true', data-interior-nav-offset='60')
						a(href='#', role='tab', aria-expanded='true', data-position='0')
							h3 Overview
						ul(role='tabpanel', aria-hidden='false')
							if guide.travelHacks && guide.travelHacks[0] && guide.travelHacks[0].description !== '<p><br></p>' && guide.travelHacks[0].description !== '<br>'
								li
									a(href='#', data-position='0.0') Travel Hacks

							if guide.highlights && guide.highlights[0] && guide.highlights[0].description !== '<p><br></p>' && guide.highlights[0].description !== '<br>'
								li
									a(href='#', data-position='0.1') Highlights
							
							if guide.whereToStay !== '<p><br></p>' && guide.whereToStay !== '<br>'
								li
									a(href='#', data-position='0.2') Where to Stay
							
							if guide.whereToGoOut !== '<p><br></p>' && guide.whereToGoOut !== '<br>'
								li
									a(href='#', data-position='0.3') Where to Go Out
							
							if guide.whereToEat !== '<p><br></p>' && guide.whereToEat !== '<br>'
								li
									a(href='#', data-position='0.4') Where to Eat
							
							if guide.whereToExplore !== '<p><br></p>' && guide.whereToExplore !== '<br>'
								li
									a(href='#', data-position='0.5') Where to Explore

						for day, i in guide.days ? guide.days.sort(sortByOrder) : []
							a(href='#', role='tab', aria-expanded='false', data-position= i+1)
								h3= `Day ${i+1}: ${day.title}`

							if day.cards
								ul(role='tabpanel', aria-hidden='true')
									for card, j in day.cards.sort(sortByOrder)
										li: a(href='#', data-position= `${i+1}.${j}`)= card.title

				.col-xs-12.col-sm-7.col-md-8.col-lg-9.js-nav-nodes
					.content-card(data-position='0')
						h2.content-card--header.fw-B.p-R.bg-W(data-function='stickey') Overview
						.lead!= guide.description

					.content-card.p-0
						img.w-100(src= guide.map, alt= guide.names.display)

					if guide.travelHacks && guide.travelHacks[0] && guide.travelHacks[0].description !== '<p><br></p>' && guide.travelHacks[0].description !== '<br>'
						.content-card
							h2.content-card--header(data-position='0.0') Travel Hacks
							div(data-function='accordion', data-allow-multiple='true')
								for hack, i in guide.travelHacks
									h3.m-0.p-Sm(role='tab',aria-expanded= i === 0 ? 'true' : 'false', data-function='toggle', data-event='tab-change', data-target='this i')
										i.fa.fa-chevron-down.an-F.mr-Sm(aria-hidden='true', data-toggle='rotate-Neg180', class= i === 0 ? 'rotate-Neg180' : '')
										= hack.title
									div.p-Sm.pt-0(role='tabpanel', aria-hidden= i === 0 ? 'false' : 'true')!= hack.description

					if guide.highlights && guide.highlights[0] && guide.highlights[0].description !== '<p><br></p>' && guide.highlights[0].description !== '<br>'
						h2.fc-G(data-position='0.1') Highlights
						.masonry.masonry-grid-1.masonry-grid-2--sm.masonry-grid-3--md.masonry-grid-4--lg
							for highlight in guide.highlights
								.masonry--item
									+card(highlight.cardImage, highlight.title, null, null, highlight.description)

					if guide.whereToStay !== '<p><br></p>' && guide.whereToStay !== '<br>'
						.content-card
							h2.content-card--header(data-position='0.2') Where to Stay
							!= guide.whereToStay
					
					if guide.whereToGoOut !== '<p><br></p>' && guide.whereToGoOut !== '<br>'
						.content-card
							h2.content-card--header(data-position='0.3') Where to Go Out
							!= guide.whereToGoOut
					
					if guide.whereToEat !== '<p><br></p>' && guide.whereToEat !== '<br>'
						.content-card
							h2.content-card--header(data-position='0.4') Where to Eat
							!= guide.whereToEat
					
					if guide.whereToExplore !== '<p><br></p>' && guide.whereToExplore !== '<br>'
						.content-card
							h2.content-card--header(data-position='0.5') Where to Explore
							!= guide.whereToExplore

					for day, i in guide.days ? guide.days.sort(sortByOrder) : []
						.content-card(data-position= i+1)
							h2.content-card--header.bg-W(data-function='stickey')= `Day ${i+1}: ${day.title}`
							.lead!= day.description

						for card, j in day.cards ? day.cards.sort(sortByOrder) : []
							+guideCard(card)(data-position= `${i+1}.${j}`)
