extends ../../layout.pug

block content
	if !neighborhood
		.media-bg-img.request-page-header
			.container
				h1= neighborhood && neighborhood.names && neighborhood.names.display || 'Unknown Neighborhood'

		.container.ptb-Sm
			small
				a.fc-G(href= `/${country.url}/${neighborhood.cityUrl}`)= `< Back to ${neighborhood.cityDisplay}`

			+contentCard('Coming soon!')
				p.lead.m-0!= `More information about ${neighborhood && neighborhood.names && neighborhood.names.display || 'this'} is currently being developed. Please check back soon for more information. If you would like to help contribute content, please shoot us an email at <a href='mailto:info@stellaroute.com'>info@stellaroute.com</a>`
	else
		div(style=`background: rgba(0, 0, 0, 0) url("${getImagePath(neighborhood.backgroundImage, large) || getImagePath(city.backgroundImage, large)}") no-repeat scroll center 57% / cover;`)
				.bg-Dkr.p-R
					if userIsAuthorized()
						button.btn.btn-primary.p-A.r-Sm.t-Sm.d-N.d-B--sm(data-toggle='modal', data-target='#EditNeighborhoodForm') Edit
						.bg-W.p-A.p-Xs.r-Sm.b-0.z-1.d-N.d-B--sm= neighborhood.Id
					.container.ptb-0
						ol.breadcrumb
							li.active: a(href= '/') Home
							li.active: a(href=`/${country.url}/${neighborhood.cityUrl}`)= neighborhood.cityDisplay
							li.active: a(href=`/${country.url}/${neighborhood.cityUrl}/#Neighborhoods`) Neighborhoods
						h1= neighborhood.names.display
							small.ml-Md= neighborhood.tagline


		if userIsAuthorized()
			+modal('EditNeighborhoodForm')(class='modal-lg')
				+neighborhoodForm('update', neighborhood)

		.container
			.row
				.col-xs-12.col-sm-6.col-md-8.f-R
					.content-card.p-0
						if neighborhood.images && neighborhood.images.length > 2
							div(data-function='banner')
								for img, i in neighborhood.images
									img(src=getImagePath(img, 'large'), alt=`${neighborhood.names.display} Banner ${i+1}`, data-banner-item)
						else 
							img.w-100(src= getImagePath(neighborhood.cardImage, 'large'), alt= neighborhood.names.display)
						.lead.fc-W--sm.m-0.p-Sm.bg-Dkst--sm.p-A--sm.b-0.l-0.r-0!= neighborhood.description						

					if neighborhood.needToKnow && neighborhood.needToKnow[0] && wysiwygHasData(neighborhood.needToKnow[0].description)
						.content-card
							h2.content-card--header Advice

							.row(data-function='accordion', data-allow-multiple='true')
								for advice, i in neighborhood.needToKnow.sort(sortByOrder)
									h3.m-0.p-Sm(role='tab',aria-expanded= i === 0 ? 'true' : 'false', data-function='toggle', data-event='tab-change', data-target='this i')
										i.fa.fa-chevron-down.an-F.mr-Sm(aria-hidden='true', data-toggle='rotate-Neg180', class= i === 0 ? 'rotate-Neg180' : '')
										= advice.title
									div.p-Sm.pt-0(role='tabpanel', aria-hidden= i === 0 ? 'false' : 'true')!= advice.description

				.col-xs-12.col-sm-6.col-md-4
					if neighborhood.orientation && (wysiwygHasData(neighborhood.orientation.description) || neighborhood.orientation.map || neighborhood.orientation.mainIntersection || neighborhood.orientation.mainStrip || (neighborhood.orientation.waysToGetThere && neighborhood.orientation.waysToGetThere[0] && neighborhood.orientation.waysToGetThere[0].name) || (neighborhood.orientation.distanceFrom && neighborhood.orientation.distanceFrom[0] && neighborhood.orientation.distanceFrom[0].name))
						+contentCard('Orientation')
							if wysiwygHasData(neighborhood.orientation.description)
								div!= neighborhood.orientation.description
							
							if neighborhood.orientation.map
								button.bg-N.bw-0.p-0.w-100(type='button', data-toggle='modal', data-target='#MapModal', tab-index='1')
									img.w-100(src= getImagePath(neighborhood.orientation.map, 'large'))

							if wysiwygHasData(neighborhood.orientation.mainIntersection)
								h3 Main Intersection
								!= neighborhood.orientation.mainIntersection

							if wysiwygHasData(neighborhood.orientation.mainStrip)
								h3 Main Strip
								!= neighborhood.orientation.mainStrip

							if neighborhood.orientation.waysToGetThere && neighborhood.orientation.waysToGetThere[0] && neighborhood.orientation.waysToGetThere[0].name
								h3 Main Transit Stops
								for wayToGetThere in neighborhood.orientation.waysToGetThere
									h4.row
										.col-xs-2.col-sm-1.col-md-2.col-lg-1.ta-C(data-icon= getIcon(wayToGetThere.method))
										.col-xs-10.col-sm-11.col-md-10.col-lg-11.pl-0= wayToGetThere.name
									.row
										.col-xs-10.col-sm-11.col-md-10.col-lg-11.col-xs-push-2.col-sm-push-1.col-md-push-2.col-lg-push-1.pl-0
											ul.list-unstyled
												for stop in wayToGetThere.stops
													li= stop

							if neighborhood.orientation.distanceFrom && neighborhood.orientation.distanceFrom[0] && neighborhood.orientation.distanceFrom[0].name
								h3 Distance To...
								for location in neighborhood.orientation.distanceFrom.sort(sortByOrder)
									h4.row
										.col-xs-2.col-sm-1.col-md-2.col-lg-1.ta-C(data-icon= getIcon(location.type))
										.col-xs-10.col-sm-11.col-md-10.col-lg-11.pl-0= location.name
									.row
										.col-xs-10.col-sm-11.col-md-10.col-lg-11.col-xs-push-2.col-sm-push-1.col-md-push-2.col-lg-push-1.pl-0
											ul.list-unstyled.fc-G
												for wayToGetThere in location.waysToGetThere
													li.clear
														h5.d-Ib.m-0.f-L.lh-B(data-icon= getIcon(wayToGetThere.method))
														.ml-Md= `${wayToGetThere.time ? wayToGetThere.time : ''} ${wayToGetThere.description ? '- ' + wayToGetThere.description : ''} ${wayToGetThere.distance ? '- ' + wayToGetThere.distance : ''}`


				
						if neighborhood.orientation.map
							+modal('MapModal')
								.ta-C(style='overflow-x: scroll;')
									img(src= getImagePath(neighborhood.orientation.map, 'large'), alt=`Map of ${neighborhood.names.display}`)
								a.btn.btn-default(data-dismiss='modal') Close

					if neighborhood.nearbyNeighborhoods && nearbyNeighborhoods.length > 0
						h2.fc-G Nearby Neighborhoods

						.masonry.masonry-grid-1(class= nearbyNeighborhoods.length > 1 ? '.masonry-grid-2--sm' : '')
							for nearbyNeighborhood in nearbyNeighborhoods
								a.masonry--item(href=`/${country.url}/${neighborhood.cityUrl}/${nearbyNeighborhood.url}`)
									+card(nearbyNeighborhood.cardImage, nearbyNeighborhood.names.display, null, null, nearbyNeighborhood.description)

				.col-xs-12.col-sm-6.col-md-8.f-R
					if  neighborhood.eatingDrinking && wysiwygHasData(neighborhood.eatingDrinking.description)
						+contentCard('Eating & Drinking')
							img.f-L.w-25(src=getImagePath(neighborhood.eatingDrinking.image, 'medium'), alt='Eating and Drinking')
							.w-75.f-L.pl-Sm!= neighborhood.eatingDrinking.description

					if  neighborhood.shopping && wysiwygHasData(neighborhood.shopping.description)
						+contentCard('Shopping')
							img.f-L.w-25(src=getImagePath(neighborhood.shopping.image, 'medium'), alt='Shopping')
							.w-75.f-L.pl-Sm!= neighborhood.shopping.description

				if neighborhood.explore && (neighborhood.explore.map || (neighborhood.explore.areas && neighborhood.explore.areas[0] && neighborhood.explore.areas[0].name))
					.col-xs-12.col-sm-6.col-md-8.f-R
						.content-card
							h2.content-card--header.mb-0 Where to Explore
							if neighborhood.explore.map
								img.w-100(src=getImagePath(neighborhood.explore.map, 'large'), alt='Where to Explore')
							for area in neighborhood.explore.areas && neighborhood.explore.areas[0] && neighborhood.explore.areas[0].name ? neighborhood.explore.areas : []
								h3= area.name
								!= area.description

								if area.suggestedSpots && area.suggestedSpots[0] && area.suggestedSpots[0].name
									h4 Suggested Spots
									ul
									for spot in area.suggestedSpots
										li
											if spot.link
												a(href= spot.link, target='blank')= spot.name
											else
												= spot.name

				if neighborhood.notiblePlaces && neighborhood.notiblePlaces[0] && neighborhood.notiblePlaces[0].name
					.col-xs-12.col-sm-6.col-md-8.f-R
						+contentCard('Other Notable Places')
							ul.list-unstyled
								for place in neighborhood.notiblePlaces
									li.clear
										if place.image
											.w-25.f-L
												img.w-100(src=getImagePath(place.image, 'medium'), alt= place.name)
										div.pl-Sm(class= place.image ? 'w-75 f-L' : '')
											h3.mt-N= place.name
											!= place.description
											.clear
												div.d-B.f-L
													i.fa.fa-map-pin.lh-B(aria-hidden='true')
												div.ml-Md!= place.address




				if neighborhood.quickFacts && neighborhood.quickFacts[0] && wysiwygHasData(neighborhood.quickFacts[0].description)
					.col-xs-12.col-sm-6.col-md-8.f-R
						+contentCard('Fun Facts')
							+accordion(neighborhood.quickFacts)