extends ../../layout.pug

block content
	-
		const suggestedSpotTypes = [
			{value: 'restaurant', title: 'Restaurant'},
			{value: 'bar', title: 'Bar'},
			{value: 'store', title: 'Store'},
			{value: 'other', title: 'Other'}
		];

		const methodsOfTransportation = [
			{value: 'walk', title: 'Walking'},
			{value: 'car', title: 'Car or Taxi'},
			{value: 'bicycle', title: 'Bicycle'},
			{value: 'subway', title: 'Subway'},
			{value: 'train', title: 'Train'},
			{value: 'plane', title: 'Plane'},
			{value: 'bus', title: 'Bus'},
			{value: 'boat', title: 'Boat'},
		];

		const locationTypes = [
			{value: 'airport', title: 'Airport'},
			{value: 'attraction', title: 'Attraction'},
			{value: 'station', title: 'Station'},
		]

	div(style=`background: rgba(0, 0, 0, 0) url("${getImagePath(neighborhood.backgroundImage, 'large') || getImagePath(city.backgroundImage, 'large')}") no-repeat scroll center 57% / cover;`)
			.bg-Dkr.p-R
				if userIsAuthorized()
					.bg-W.p-A.p-Xs.r-Sm.b-0.z-1.d-N.d-B--sm= neighborhood.Id
				.container.ptb-0
					ol.breadcrumb
						li.active: a(href= '/') Home
						li.active: a(href=`/${country.url}/${city.url}`)= city.names.display
						li.active: a(href=`/${country.url}/${city.url}/#Neighborhoods`) Neighborhoods
					
					+formStart(neighborhood, 'Neighborhoods')
						+view
							h1= neighborhood.names.display
								small.ml-Md= neighborhood.tagline
								+editButton('f-R bg-W mt-NegSm')
						+edit('bg-W p-Sm mb-Sm')
							.row
								.col-xs-12.col-sm-6
									+object('names')
										+string(neighborhood.names, 'display', 'Neighborhood Name')
								.col-xs-12.col-sm-6
									+string(neighborhood, 'tagling', 'Tagline')

								.col-xs-12.col-sm-6
									+image(neighborhood, 'backgroundImage', 'Background Image')

								.col-xs-12.ta-

	.container
		.row
			.col-xs-12.col-sm-6.col-md-8.f-R
				+locationBanner(neighborhood, 'Neighborhoods')

				// Tavel Hacks
				+factsHacks(false, neighborhood, 'Neighborhoods')

			.col-xs-12.col-sm-6.col-md-4
				// Orientation
				+formStart(neighborhood, 'Neighborhoods', (neighborhood.orientation && (wysiwygHasData(neighborhood.orientation.description) || neighborhood.orientation.map || neighborhood.orientation.mainIntersection || neighborhood.orientation.mainStrip || getNested(neighborhood, 'waysToGetThere', 0, 'name') || getNested(neighborhood, 'orientation', 'distanceFrom', 0, 'name'))))(class='content-card')
					h2.content-card--header Orientation
						+editButton('f-R mt-NegSm')
					+view
						if wysiwygHasData(neighborhood.orientation.description)
							div!= neighborhood.orientation.description
						
						if neighborhood.orientation.map
							button.bg-N.bw-0.p-0.w-100(type='button', data-toggle='modal', data-target='#MapModal', tab-index='1')
								img.w-100(src= getImagePath(neighborhood.orientation.map, 'large'))

						if wysiwygHasData(neighborhood.orientation.mainIntersection)
							h3 Main Intersection
							!= neighborhood.orientation.mainIntersection

						if wysiwygHasData(neighborhood.orientation.mainStrip)
							h3 Main Strip
							!= neighborhood.orientation.mainStrip

						if getNested(neighborhood, 'waysToGetThere', 0, 'name')
							h3 Main Transit Stops
							for wayToGetThere in neighborhood.orientation.waysToGetThere
								h4.row
									.col-xs-2.col-sm-1.col-md-2.col-lg-1.ta-C(data-icon= getIcon(wayToGetThere.method))
									.col-xs-10.col-sm-11.col-md-10.col-lg-11.pl-0= wayToGetThere.name
								.row
									.col-xs-10.col-sm-11.col-md-10.col-lg-11.col-xs-push-2.col-sm-push-1.col-md-push-2.col-lg-push-1.pl-0
										ul.list-unstyled
											for stop in wayToGetThere.stops
												li= stop

						if getNested(neighborhood, 'orientation', 'distanceFrom', 0, 'name')
							h3 Distance To...
							for location in neighborhood.orientation.distanceFrom
								h4.row
									.col-xs-2.col-sm-1.col-md-2.col-lg-1.ta-C(data-icon= getIcon(location.type))
									.col-xs-10.col-sm-11.col-md-10.col-lg-11.pl-0= location.name
								.row
									.col-xs-10.col-sm-11.col-md-10.col-lg-11.col-xs-push-2.col-sm-push-1.col-md-push-2.col-lg-push-1.pl-0
										ul.list-unstyled.fc-G
											for wayToGetThere in location.waysToGetThere
												li.clear
													h5.d-Ib.m-0.f-L.lh-B(data-icon= getIcon(wayToGetThere.method))
													.ml-Md= `${wayToGetThere.time ? wayToGetThere.time : ''} ${wayToGetThere.description ? '- ' + wayToGetThere.description : ''} ${wayToGetThere.distance ? '- ' + wayToGetThere.distance : ''}`

						if neighborhood.orientation.map
							+modal('MapModal')
								.ta-C(style='overflow-x: scroll;')
									img(src= getImagePath(neighborhood.orientation.map, 'large'), alt=`Map of ${neighborhood.names.display}`)
								a.btn.btn-default(data-dismiss='modal') Close
					+edit
						+object('orientation')
							+wysiwyg(neighborhood, 'description', 'Overview')
							+image(neighborhood.orientation, 'map', 'Map')
							+array(null, 'waysToGetThere', 'Ways to Get There', 'Add Way to Get There')
								for wayToGetThere in getNested(neighborhood, 'orientation', 'waysToGetThere') ? neighborhood.orientation.waysToGetThere : [{}]
									+object(null, 'Delete Way to Get There')
										+string(wayToGetThere, 'name', 'Name')
										+select(wayToGetThere, 'method', 'Method of Transportation', methodsOfTransportation)
										+array(wayToGetThere, 'stops', 'Stops', 'Add Stop')

							+wysiwyg(neighborhood.orientation, 'mainIntersection', 'Main Intersection')
							+wysiwyg(neighborhood.orientation, 'mainStrip', 'Main Strip')

							+array(null, 'distanceFrom', 'Distance From', 'Add Location')
								for distanceFrom in getNested(neighborhood, 'orientation', 'distanceFrom') ? neighborhood.orientation.distanceFrom : [{}]
									+object(null, 'Delete Location')
										+string(distanceFrom, 'name', 'Name of Location')
										+select(distanceFrom, 'type', 'Type of Location', locationTypes)
										+array(null, 'waysToGetThere', 'Ways to Get There', 'Add Way to Get There')
											for wayToGetThere in distanceFrom.waysToGetThere ? distanceFrom.waysToGetThere : [{}]
												+object(null, 'Delete Way to Get There')
													+select(wayToGetThere, 'method', 'Method of Transportation', methodsOfTransportation)
													+string(wayToGetThere, 'distance', 'Distance from Location')
													+string(wayToGetThere, 'time', 'Time')
													+string(wayToGetThere, 'description', 'Description')
						

				// Nearby Neighborhoods
				+formStart(neighborhood, 'Neighborhoods', getNested(neighborhood, 'nearbyNeighborhoods').length)
					h2.fc-G Nearby Neighborhoods
						+editButton('f-R mt-NegSm')
					+view
						.masonry.masonry-grid-1(class= nearbyNeighborhoods.length > 1 ? '.masonry-grid-2--sm' : '')
							for nearbyNeighborhood in nearbyNeighborhoods
								a.masonry--item(href=`/${country.url}/${city.url}/${nearbyNeighborhood.url}`)
									+card(nearbyNeighborhood.cardImage, nearbyNeighborhood.names.display, null, null, nearbyNeighborhood.description)
					+edit
						+array(neighborhood, 'nearbyNeighborhoods', null, 'Add Nearby Neighborhood')

			.col-xs-12.col-sm-6.col-md-8.f-R
				// Eating & Drinking
				+formStart(neighborhood, 'Neighborhoods', wysiwygHasData(getNested(neighborhood, 'eatingDrinking').description))(class='content-card')
					h2.content-card--header Eating &amp; Drinking
						+editButton('f-R mt-NegSm')

					+view
						img.f-L.w-25(src=getImagePath(neighborhood.eatingDrinking.image, 'medium'), alt='Eating and Drinking')
						.w-75.f-L.pl-Sm!= neighborhood.eatingDrinking.description
					+edit
						+object('eatingDrinking')
							+image(neighborhood.eatingDrinking, 'image', 'Image')
							+wysiwyg(neighborhood.eatingDrinking, 'description', 'What to Know About Eating and Drinking')

				// Shopping
				+formStart(neighborhood, 'Neighborhoods', wysiwygHasData(getNested(neighborhood, 'shopping').description))(class='content-card')
					h2.content-card--header Shopping
						+editButton('f-R mt-NegSm')

					+view
						img.f-L.w-25(src=getImagePath(neighborhood.shopping.image, 'medium'), alt='Eating and Drinking')
						.w-75.f-L.pl-Sm!= neighborhood.shopping.description
					+edit
						+object('shopping')
							+image(neighborhood.shopping, 'image', 'Image')
							+wysiwyg(neighborhood.shopping, 'description', 'What to Know About Shopping')

				// Where to Explore
				+formStart(neighborhood, 'Neighborhoods', (getNested(neighborhood, 'explore', 'map') || getNested(neighborhood, 'explore', 'areas', 0, 'name')))(class='content-card')
					h2.content-card--header.mb-0 Where to Explore
						+editButton('f-R mt-NegSm')
					+view
						if neighborhood.explore.map
							img.w-100(src=getImagePath(neighborhood.explore.map, 'large'), alt='Where to Explore')
						for area in getNested(neighborhood, 'explore', 'areas', 0, 'name') ? neighborhood.explore.areas : []
							h3= area.name
							!= area.description

							if area.suggestedSpots && area.suggestedSpots[0] && area.suggestedSpots[0].name
								h4 Suggested Spots
								ul
									for spot in area.suggestedSpots
										li
											if spot.link
												a(href= spot.link, target='blank')= spot.name
											else
												= spot.name
					+edit
						+object('explore')
							+image(neighborhood.explore, 'map', 'Map')
							+array(neighborhood.explore, 'area', 'Areas', 'Add Area', true)
								for area in getNested(neighborhood, 'explore', 'areas') ? neighborhood.explore.areas : [{}]
									+arrayObject('Area', 'Delete Area')
										+string(area, 'name', 'Name / Location / Cross Street')
										+wysiwyg(area, 'description', 'Description')
										+array(area, 'suggestedSpots', 'Suggested Spots', 'Add Suggested Spot', true)
											for spot in area.suggestedSpots ? area.suggestedSpots : [{}]
												+arrayObject('Suggested Spot', 'Delete Suggested Spot')
													+string(spot, 'name', 'Name')
													+string(spot, 'link', 'Link')
													+select(spot, 'type', 'Type', suggestedSpotTypes)

				// Notable Places
				+formStart(neighborhood, 'Neighborhoods', getNested('neighborhood', 'notiblePlaces', 0, 'name'))(class='content-card')
					h2.content-card--header Other Notable Places
						+editButton('f-R mt-NegSm')

					+view
						ul.list-unstyled
							for place in neighborhood.notiblePlaces
								li.clear
									if place.image
										.w-25.f-L
											img.w-100(src=getImagePath(place.image, 'medium'), alt= place.name)
									div.pl-Sm(class= place.image ? 'w-75 f-L' : '')
										h3.mt-N= place.name
										!= place.description
										.clear
											div.d-B.f-L
												i.fa.fa-map-pin.lh-B(aria-hidden='true')
											div.ml-Md!= place.address
					
					+edit('content-card')
						h2.content-card--header Other Notable Places
						+array(null, 'notiblePlaces', 'Notible Places', 'Add Place')
							+object(null, 'Delete Place')
								for place in neighborhood.notiblePlaces ? neighborhood.notiblePlaces : [{}]
									+object(null, 'Delete Place')(class='p-Sm bg-G__ltr')
										+string(place, 'name', 'Name')
										+image(place, 'image', 'Image')
										+wysiwyg(place, 'address', 'Address')
										+wysiwyg(place, 'description', 'Description')
					

				// Quick Facts
				+factsHacks(true, neighborhood, 'Neighborhoods')