extends ../../layout.pug

block content
	.media-bg-img.request-page-header
		.container
			h1= neighborhood.names.display

	.container.ptb-Sm
		small
			a.fc-G(href= `/${country.url}/${neighborhood.cityUrl}`)= `< Back to ${neighborhood.cityDisplay}`

		.content-card
			h2.content-card--header Coming soon!
			p.lead.m-0!= `More information about ${neighborhood.names.display} is currently being developed. Please check back soon for more information. If you would like to help contribute content, please shoot us an email at <a href='mailto:info@stellaroute.com'>info@stellaroute.com</a>`