extends ../../layout.pug

block content
	-
		const suggestedSpotTypes = [
			{value: 'restaurant', title: 'Restaurant'},
			{value: 'bar', title: 'Bar'},
			{value: 'store', title: 'Store'},
			{value: 'other', title: 'Other'}
		];

		const methodsOfTransportation = [
			{value: 'walk', title: 'Walking'},
			{value: 'car', title: 'Car or Taxi'},
			{value: 'bicycle', title: 'Bicycle'},
			{value: 'subway', title: 'Subway'},
			{value: 'train', title: 'Train'},
			{value: 'plane', title: 'Plane'},
			{value: 'bus', title: 'Bus'},
			{value: 'boat', title: 'Boat'},
		];

		const locationTypes = [
			{value: 'airport', title: 'Airport'},
			{value: 'attraction', title: 'Attraction'},
			{value: 'station', title: 'Station'},
		]

	div(style=`background: rgba(0, 0, 0, 0) url("${getImagePath(neighborhood.backgroundImage, 'large') || getImagePath(city.backgroundImage, 'large')}") no-repeat scroll center 57% / cover;`)
			.bg-Dkr.p-R
				if userIsAuthorized(user)
					.bg-W.p-A.p-Xs.r-Sm.b-0.z-1.d-N.d-B--sm= neighborhood.Id
				.container.ptb-0
					ol.breadcrumb
						li.active: a(href= '/') Home
						li.active: a(href=`/${country.url}/${city.url}`)= city.names.display
						li.active: a(href=`/${country.url}/${city.url}/#Neighborhoods`) Neighborhoods
					
					+formStart(neighborhood, 'Neighborhoods')
						+view
							h1= neighborhood.names.display
								small.ml-Md= neighborhood.tagline
								+editButton('f-R bg-W mt-NegSm')
						+edit('bg-W p-Sm mb-Sm')
							.row
								.col-xs-12.col-sm-6
									+object('names')
										+string(neighborhood.names, 'display', 'Neighborhood Name')
								.col-xs-12.col-sm-6
									+string(neighborhood, 'tagline', 'Tagline')

								.col-xs-12.col-sm-6
									+image(neighborhood, 'backgroundImage', 'Background Image')

	.container
		+shareThis(neighborhood.cardImage)
		.row
			.col-xs-12.col-sm-6.col-md-8.f-R
				+locationBanner(neighborhood, 'Neighborhoods')
				+factsHacks(false, neighborhood, 'Neighborhoods')

			.col-xs-12.col-sm-6.col-md-4
				include ../cards/orientation.pug
				include ../cards/nearby.pug

			.col-xs-12.col-sm-6.col-md-8.f-R
				+infoCard(neighborhood, 'Neighborhoods', 'eatingDrinking', 'Eating & Drinking')
				+infoCard(neighborhood, 'Neighborhoods', 'shopping', 'Shopping')
				include ../cards/explore.pug
				include ../cards/notablePlaces.pug
				+factsHacks(true, neighborhood, 'Neighborhoods')