block content
	if (user && user.isAdmin)
		.ta-r
			button.btn.btn-primary(data-target='#AddNeighborhood', data-toggle='modal') Add Neighborhood

		+modal('AddNeighborhood')(class='modal-lg')
			+neighborhoodForm('add', null, {city: city.Id})

	if (neighborhoods.length)
		.masonry.masonry-grid-1.masonry-grid-3--md.masonry-grid-4--lg.pt-Sm
			for neighborhood in neighborhoods
				.masonry--item(data-toggle='modal', data-target= `#${neighborhood.url}`)
					+card(neighborhood.cardImage, neighborhood.names.display)
					
		-var neighborhoodCounter = 0;
		for neighborhood in neighborhoods
			+modal(neighborhood.url)
				div(id=`NeighborhoodOverview${neighborhoodCounter}`, data-toggle='hidden')
					h2.content-card--header.fw-B.fc-B= neighborhood.names.display

					.lead!= neighborhood.description
					img.w-100(src= neighborhood.cardImage || 'http://placebear.com/600/400', alt= neighborhood.names.display)

					.ta-R.mt-Md
						a.btn.btn-secondary(href=`/${city.countryUrl}/${city.url}/${neighborhood.url}`) Read More

			- neighborhoodCounter++;
		
	else
		.content-card
			p.lead Sorry, but it appears that no neighborhoods have been added for this city yet, please check back soon.
			p If you would like to help us fill out content for this area, please send us an email to <a href='mailto:info@stellaroute.com'>info@stellaroute.com</a> and we will get back to you shortly.