.row
	.col-xs-12.col-sm-8.f-R
		if userIsAuthorized()
			.list-group(duck-table='Cities' duck-function='update' duck-key='Id' duck-key-value=city.Id, duck-edit-form='view')
				.duck-edit-hidden
					+editButton('p-A bg-W t-Md r-Md')
					for guide, i in guides
						if i === 0
							a.clear.list-group-item.mtb-Sm.p-0.p-R.w-100(href=`/${city.countryUrl}/${city.url}/${guide.url}`)
								.p-A.t-0.r-0.bg-Gr.fc-W.p-Xs.fw-N Featured Guide
								div(style=`padding-top: 30px; padding-bottom: 40%; background: url('${getImagePath(guide.cardImage, "large") || getImagePath(guide.map, "large")}') no-repeat scroll center center / cover;`)
								.p-Sm
									h3.fc-Purp.mt-0= guide.names.display
									.fc-B.fw-N!= guide.description
						else if i < 4
							
							a.list-group-item.clear.mtb-Sm.p-0.w-100(href=`/${city.countryUrl}/${city.url}/${guide.url}`)
								.w-25--sm.f-L--sm
									img.w-100(src= getImagePath(guide.cardImage, 'medium') || getImagePath(guide.map, 'medium'), alt= guide.names.display)
								.w-75--sm.f-L--sm.p-Sm
									h3.fc-Purp.mt-0= guide.names.display
									.fc-B.fw-N!= guide.description
					.ta-C
						a(href='#Guides') All Guides

				.duck-view-hidden
					+array(city, 'guides', 'Guides', 'Add Guide')

					button.btn.btn-primary(duck-button='submit') Save
					button.btn.btn-warning(duck-button='cancel') Cancel

		else if guides && guides.length > 0
			.list-group
				for guide, i in guides
					if i === 0
						a.clear.list-group-item.mtb-Sm.p-0.p-R.w-100(href=`/${city.countryUrl}/${city.url}/${guide.url}`)
							.p-A.t-0.r-0.bg-Gr.fc-W.p-Xs.fw-N Featured Guide
							div(style=`padding-top: 30px; padding-bottom: 40%; background: url('${getImagePath(guide.cardImage, "large") || getImagePath(guide.map, "large")}') no-repeat scroll center center / cover;`)
							.p-Sm
								h3.fc-Purp.mt-0= guide.names.display
								.fc-B.fw-N!= guide.description
					else if i < 4
						
						a.list-group-item.clear.mtb-Sm.p-0.w-100(href=`/${city.countryUrl}/${city.url}/${guide.url}`)
							.w-25--sm.f-L--sm
								img.w-100(src= getImagePath(guide.cardImage, 'medium') || getImagePath(guide.map, 'medium'), alt= guide.names.display)
							.w-75--sm.f-L--sm.p-Sm
								h3.fc-Purp.mt-0= guide.names.display
								.fc-B.fw-N!= guide.description
			.ta-C
				a(href='#Guides') All Guides

		if neighborhoods && neighborhoods.length > 0
			h2.fc-G Neighborhoods
			.masonry.masonry-grid-1.masonry-grid-2--sm.masonry-grid-3--md
				for neighborhood in neighborhoods
					a.masonry--item(href=`/${city.countryUrl}/${city.url}/${neighborhood.url}`)
						+card(neighborhood.cardImage, neighborhood.names.display)

	.col-xs-12.col-sm-4
		+formStart(city, 'Cities')(class='content-card')
			h2.content-card--header At a Glance
				+editButton('f-R mt-NegXs')
			+view
				if city.averageStay
					h3 Length of Stay
					= city.averageStay
				if city.bestTimeToVisit
					h3 Best Time to Visit
					= city.bestTimeToVisit.join('; ')
				if city.topPlacesDisplay
					h3 Top places to stay
					= city.topPlacesDisplay.join('; ')
				div(data-function='accordion')
					button.d-B.w-100.p-Sm.bg-N.bw-0.ta-C.fw-B(role='tab', aria-expanded='false') Read More
					.d-B(role='tabpanel', aria-hidden='true')!= city.description
			+edit
				+string(city, 'averageStay', 'Suggested / Average Length of Stay')
				+array(city, 'bestTimeToVisit', 'Time(s) to Visit', 'Add Time to Visit')
				+array(city, 'topPlaces', 'Top Place(s)', 'Add Top Place')
				+wysiwyg(city, description, 'City Description')

		+factsHacks(false, city, 'Cities')

		if city.food && city.food.foods
			.content-card.p-0
				h2.content-card--header.m-0.p-Sm Food &amp; Drinks

				// this is being double sorted due to a bug I can't find yet
				for food, i in city.food.foods.sort().sort(sortByOrder)
					if i < 3
						button.bg-N.bw-0.p-R.p-0.w-100.d-B(data-toggle='modal', data-target= `#${food.name.replace(/\s/g, '-')}`, type='button', style=`background: url('${food.image}') no-repeat scroll center center / cover;padding-top: 25%;`)
							h3.bg-Dk.p-A.t-0.b-0.l-0.r-0.m-0.d-F.fai-C.fj-C.fc-W= food.name
							.p-A.t-Xs.r-Xs.p-XXs.fs-Sm.fc-W.br-Md(class= colorClasses[foodTagColors[food.category]])= food.category
							//+card(food.image, food.name, food.category, foodTagColors[food.category], food.description)
				a.fc-B.w-100.ta-C.p-Xs.d-B(href='#Food') More Food

		//if city.transit && city.transit.transitFacts && city.transit.transitFacts[0] && city.transit.transitFacts[0].title
			+contentCard('Getting Around')
				if city.transit.tagline
					.d-F.fai-C.fj-C
						.d-Ib.p-R.br-C.bw-Md.bs-S.bc-G.m-Xs.fw-N.fs-18(style='width: 50px; height: 50px; flex-grow: 2;')
							i.fa.fa-train.p-A(style='top: 5px; left: -5px')
							i.fa.fa-plane.p-A(style='top: 5px; right: -5px')
							i.fa.fa-ship.p-A(style='bottom: -7px; left: 14px')
					h3.mtb-Sm.ta-C= city.transit.tagline

				+accordion(city.transit.transitFacts)(class='row', data-allow-multiple='true')

		+factsHacks(true, city, 'Cities')
