.row
	.col-xs-12.col-sm-4.col-lg-3
		+contentCard('At a Glance')
			dl.m-0
				if city.averageStay
					dt Length of Stay
					dd= city.averageStay
				if city.bestTimeToVisit
					dt Best Time to Visit
					dd= city.bestTimeToVisit.join('; ')
				if city.topPlacesDisplay
					dt Top places to stay
					dd= city.topPlacesDisplay.join('; ')

	.col-xs-12.col-sm-8.col-lg-9.f-R
		.content-card.card.p-0
			if city.images && city.images.length > 2
				div(data-function='banner')
					for img, i in city.images
						img(src=img, alt=`${city.names.display} Banner ${i+1}`, data-banner-item)
			else 
				img.w-100(src= city.cardImage ? city.cardImage : 'http://placebear.com/300/300', alt= city.names.display)
			.lead.fc-W--sm.m-0--sm.p-Sm.bg-Dkst--sm.p-A--sm.b-0--sm.l-0--sm.r-0--sm!= city.description

		if city.needToKnow && city.needToKnow[0] && wysiwygHasData(city.needToKnow[0].description)
			.content-card
				h2.content-card--header Travel Hacks

				+accordion(city.needToKnow.sort(sortByOrder))(class='row', data-allow-multiple='true')

		if guides && guides.filter((g) => g.map).length > 2
			.content-card.p-0
				h2.content-card--header.m-0.mt-Sm Guides
				div(data-function='banner', data-banner-auto-rotate='false')
					button.p-A.t-Md.l-Md.fc-W.bg-N.bw-0.fs-Lg(data-banner='back', data-icon='fa fa-chevron-left')
					button.p-A.t-Md.r-Md.fc-W.bg-N.bw-0.fs-Lg(data-banner='forward', data-icon='fa fa-chevron-right')
					for guide in guides.filter((g) => g.map)
						div(data-banner='item')
							h3.ta-C.bg-Purp.fc-W.p-Md.m-0= guide.names.display
							.o-H.p-R(style='padding-left: 25%')
								img.w-100(src=guide.map, alt= guide.names.display)
								.p-A.t-0.l-0.b-0.w-25(data-function='scroll')
									div#Body(data-scroll='content-wrapper')
										div(data-scroll='content')
											for day, i in guide.days && guide.days[0] && guide.days[0].title ? guide.days : [{}]
												h4.bg-W.ta-C.p-Xs= `Day ${i+1}`
												for card in day.cards && day.cards[0] && day.cards[0].title ? day.cards : [{}]
													if card.image
														.p-R
															img.w-100(src= card.image, alt= card.title)
															h5.p-A.d-F.fj-C.fai-C.bg-Dkr.t-0.b-0.l-0.r-0.fc-W.m-0= card.title
									div(data-scroll='scrollbar')
										button
		else if guides && guides.length > 0
			.content-card.p-0
				h2.content-card--header.m-0.p-Sm Guides
				for guide, i in guides
					.clear.p-R(class= i % 2 === 0 ? '' : 'bg-G__ltr')
						.w-25--sm.f-L--sm
							img.w-100(src= guide.cardImage || guide.map, alt= guide.names.display)
						.w-75--sm.f-L--sm.p-Sm.pb-Lg--sm
							h3.mt-0= guide.names.display
							!= guide.description

							.ta-R.p-A--sm.b-Sm--sm.r-Sm--sm
								a.btn.btn-secondary(href=`/${city.countryUrl}/${city.url}/${guide.url}`) Read More



		if neighborhoods && neighborhoods.length > 0
			h2.fc-G Neighborhoods
			.masonry.masonry-grid-1.masonry-grid-2--sm.masonry-grid-3--md
				for neighborhood in neighborhoods
					a.masonry--item(href=`/${city.countryUrl}/${city.url}/${neighborhood.url}`)
						+card(neighborhood.cardImage, neighborhood.names.display)

	.col-xs-12.col-sm-4.col-lg-3
		if city.orientation && city.orientation.map
			+contentCard('Orientation')
				button.d-B.bg-N.bw-N.p-0(data-toggle='modal' data-target=`#${city.names.display}OrientationMap`)
					img.w-100(src= city.orientation.map, alt=`Map of ${city.names.display}`)
				+modal(`${city.names.display}OrientationMap`)(class='modal-lg')
					.ta-C(style='overflow-x: scroll;')
						img(src= city.orientation.map, alt=`Map of ${city.names.display}`)
					a.btn.btn-default(data-dismiss='modal') Close

		if city.food && city.food.foods
			.content-card.p-0
				h2.content-card--header.m-0.p-Sm Food &amp; Drinks

				// this is being double sorted due to a bug I can't find yet
				for food, i in city.food.foods.sort().sort(sortByOrder)
					if i < 3
						button.bg-N.bw-0.p-R.p-0.w-100(data-toggle='modal', data-target= `#${food.name.replace(/\s/g, '-')}`, type='button')
							img.w-100(src= food.image, alt= food.name)
							h3.bg-Dk.p-A.t-0.b-0.l-0.r-0.m-0.d-F.fai-C.fj-C.fc-W= food.name
							.p-A.t-Xs.r-Xs.p-XXs.fs-Sm.fc-W.br-Md(class= colorClasses[foodTagColors[food.category]])= food.category
							//+card(food.image, food.name, food.category, foodTagColors[food.category], food.description)
				a.fc-B.w-100.ta-C.p-Xs.d-B(href='#Food') More Food

		if city.transit && city.transit.transitFacts && city.transit.transitFacts[0] && city.transit.transitFacts[0].title
			+contentCard('Getting Around')
				if city.transit.tagline
					//.d-F.fai-C.fj-C
						.d-Ib.p-R.br-C.bw-Md.bs-S.bc-G.m-Xs.fw-N.fs-18(style='width: 50px; height: 50px; flex-grow: 2;')
							i.fa.fa-train.p-A(style='top: 5px; left: -5px')
							i.fa.fa-plane.p-A(style='top: 5px; right: -5px')
							i.fa.fa-ship.p-A(style='bottom: -7px; left: 14px')
					h3.mtb-Sm.ta-C= city.transit.tagline

				+accordion(city.transit.transitFacts)(class='row', data-allow-multiple='true')

		if city.quickFacts && city.quickFacts[0] && wysiwygHasData(city.quickFacts[0].description)
			+contentCard('Quick Facts')
				+accordion(city.quickFacts.sort(sortByOrder))(class='row', data-allow-multiple='true')
