.row
	.col-xs-12.col-sm-8.f-R
		if guides && guides.length > 0
			.list-group
				for guide, i in guides
					if i === 0
						a.clear.list-group-item.mtb-Sm.p-0.p-R.w-100(href=`/${city.countryUrl}/${city.url}/${guide.url}`)
							.p-A.t-0.r-0.bg-Gr.fc-W.p-Xs.fw-N Featured Guide
							div(style=`padding-top: 30px; padding-bottom: 40%; background: url('${getImagePath(guide.cardImage, "large") || getImagePath(guide.map, "large")}') no-repeat scroll center center / cover;`)
							.p-Sm
								h3.fc-Purp.mt-0= guide.names.display
								.fc-B.fw-N!= guide.description
					else if i < 4
						
						a.list-group-item.clear.mtb-Sm.p-0.w-100(href=`/${city.countryUrl}/${city.url}/${guide.url}`)
							.w-25--sm.f-L--sm
								img.w-100(src= guide.cardImage || guide.map, alt= guide.names.display)
							.w-75--sm.f-L--sm.p-Sm.pb-Lg--sm
								h3.fc-Purp.mt-0= guide.names.display
								.fc-B.fw-N!= guide.description
			.ta-C
				a(href='#Guides') All Guides

		if neighborhoods && neighborhoods.length > 0
			h2.fc-G Neighborhoods
			.masonry.masonry-grid-1.masonry-grid-2--sm.masonry-grid-3--md
				for neighborhood in neighborhoods
					a.masonry--item(href=`/${city.countryUrl}/${city.url}/${neighborhood.url}`)
						+card(neighborhood.cardImage, neighborhood.names.display)

	.col-xs-12.col-sm-4
		
		if userIsAuthorized()
			.content-card
				div(duck-table='Cities', duck-function='update', duck-key='Id', duck-key-value= city.Id, duck-edit-form='view')
					h2.content-card--header At a Glance
						button.btn.btn-edit.f-R.mt-NegXs(duck-button='edit', data-icon='fa fa-pencil')
					.duck-edit-hidden
						dl.m-0
							if city.averageStay
								dt Length of Stay
								dd= city.averageStay
							if city.bestTimeToVisit
								dt Best Time to Visit
								dd= city.bestTimeToVisit.join('; ')
							if city.topPlacesDisplay
								dt Top places to stay
								dd= city.topPlacesDisplay.join('; ')
						div(data-function='accordion')
							button.d-B.w-100.p-Sm.bg-N.bw-0.ta-C.fw-B(role='tab', aria-expanded='false') Read More
							.d-B(role='tabpanel', aria-hidden='true')!= city.description
					.duck-view-hidden
						.form-group(duck-field='averageStay', duck-type='string')
							label Suggested / Average Length of Stay
								input.form-control(type='text', duck-value, value= city && city.averageStay)

						.form-group(duck-field='bestTimeToVisit', duck-type='array')
							label Best Time(s) to Visit
							div
								for time in city && city.bestTimeToVisit ? city.bestTimeToVisit : [null]
									.form-group.d-F.fai-C(duck-type='string', data-icon='fa fa-arrows-v')
										input.ml-Sm.form-control(type='text', duck-value, value= time)
										button.btn.btn-danger(duck-button='delete')
							.ta-R
								button.btn.btn-primary(duck-button='add') Add

						.form-group(duck-field='topPlaces', duck-type='array')
							label Top Places
							div (Neighborhoods) to Stay
								for place in city && city.topPlaces ? city.topPlaces : [null]
									.form-group.d-F.fai-C(duck-type='string', data-icon='fa fa-arrows-v')
										input.ml-Sm.form-control(type='text', duck-value, value= place)
										button.btn.btn-danger(duck-button='delete')

						div(duck-field='description', duck-type='wysiwyg')
							label City Description
							.summernote!= city && city.description
						
						button.btn.btn-primary(duck-button='submit') Save
						button.btn.btn-warning(duck-button='cancel') Cancel
		else
			+contentCard('At a Glance')
				dl.m-0
					if city.averageStay
						dt Length of Stay
						dd= city.averageStay
					if city.bestTimeToVisit
						dt Best Time to Visit
						dd= city.bestTimeToVisit.join('; ')
					if city.topPlacesDisplay
						dt Top places to stay
						dd= city.topPlacesDisplay.join('; ')
				div(data-function='accordion')
					button.d-B.w-100.p-Sm.bg-N.bw-0.ta-C.fw-B(role='tab', aria-expanded='false') Read More
					.d-B(role='tabpanel', aria-hidden='true')!= city.description

		if userIsAuthorized()
			.content-card
				div(duck-table='Cities', duck-function='update', duck-key='Id', duck-key-value= city.Id, duck-edit-form='view')
					h2.content-card--header Travel Hacks
						button.btn.btn-edit.f-R.mt-NegXs(duck-button='edit', data-icon='fa fa-pencil')
					.duck-edit-hidden
						if city.needToKnow && city.needToKnow[0] && wysiwygHasData(city.needToKnow[0].description)
							+accordion(city.needToKnow, 1)(class='row', data-allow-multiple='true')
					.duck-view-hidden
						div(duck-field='needToKnow', duck-type='array')
							h3 Travel Hacks
							div
								for advice in city && city.needToKnow ? city.needToKnow : [{}]
									.p-Md.bg-G__ltr.mb-Sm(duck-type='object')
										h4.mt-0 Advice
										.form-group(duck-field='title', duck-type='string')
											label Title
												input.form-control(type='text', duck-value, value= advice.title)
										.form-group(duck-field='description', duck-type='wysiwyg')
											label Advice
											.summernote!= advice.description
										.ta-C
											button.btn.btn-danger(duck-button='delete') Delete Advice
							.ta-R
								button.btn.btn-primary(duck-button='add') Add Advice

		else if city.needToKnow && city.needToKnow[0] && wysiwygHasData(city.needToKnow[0].description)
			+contentCard('Travel Hacks')
				+accordion(city.needToKnow, 1)(class='row', data-allow-multiple='true')

		if city.food && city.food.foods
			.content-card.p-0
				h2.content-card--header.m-0.p-Sm Food &amp; Drinks

				// this is being double sorted due to a bug I can't find yet
				for food, i in city.food.foods.sort().sort(sortByOrder)
					if i < 3
						button.bg-N.bw-0.p-R.p-0.w-100.d-B(data-toggle='modal', data-target= `#${food.name.replace(/\s/g, '-')}`, type='button', style=`background: url('${food.image}') no-repeat scroll center center / cover;padding-top: 25%;`)
							h3.bg-Dk.p-A.t-0.b-0.l-0.r-0.m-0.d-F.fai-C.fj-C.fc-W= food.name
							.p-A.t-Xs.r-Xs.p-XXs.fs-Sm.fc-W.br-Md(class= colorClasses[foodTagColors[food.category]])= food.category
							//+card(food.image, food.name, food.category, foodTagColors[food.category], food.description)
				a.fc-B.w-100.ta-C.p-Xs.d-B(href='#Food') More Food

		//if city.transit && city.transit.transitFacts && city.transit.transitFacts[0] && city.transit.transitFacts[0].title
			+contentCard('Getting Around')
				if city.transit.tagline
					.d-F.fai-C.fj-C
						.d-Ib.p-R.br-C.bw-Md.bs-S.bc-G.m-Xs.fw-N.fs-18(style='width: 50px; height: 50px; flex-grow: 2;')
							i.fa.fa-train.p-A(style='top: 5px; left: -5px')
							i.fa.fa-plane.p-A(style='top: 5px; right: -5px')
							i.fa.fa-ship.p-A(style='bottom: -7px; left: 14px')
					h3.mtb-Sm.ta-C= city.transit.tagline

				+accordion(city.transit.transitFacts)(class='row', data-allow-multiple='true')

		if userIsAuthorized()
			.content-card
				div(duck-table='Cities', duck-function='update', duck-key='Id', duck-key-value= city.Id, duck-edit-form='view')
					h2.content-card--header Quick Facts
						button.btn.btn-edit.f-R.mt-NegXs(duck-button='edit', data-icon='fa fa-pencil')
					.duck-edit-hidden
						if city.quickFacts && city.quickFacts[0] && wysiwygHasData(city.quickFacts[0].description)
							+accordion(city.quickFacts)(class='row', data-allow-multiple='true')
					.duck-view-hidden
						div(duck-field='quickFacts', duck-type='array')
							div
								for fact in city && city.quickFacts ? city.quickFacts : [{}]
									.p-Md.bg-G__ltr.mb-Sm(duck-type='object')
										h3.mt-0 Fact
										.form-group.col-xs-12(duck-field='title', duck-type='string')
											label Title
												input.form-control(type='text', duck-value, value= fact.title)
										.form-group.col-xs-12(duck-field='description', duck-type='wysiwyg')
											label Fact
											.summernote!= fact.description
										.ta-C
											button.btn.btn-danger(duck-button='delete') Delete Fact
							.ta-R
								button.btn.btn-primary(duck-button='add') Add Fact
						button.btn.btn-primary(duck-button='submit') Save
						button.btn.btn-warning(duck-button='cancel') Cancel
		else if city.quickFacts && city.quickFacts[0] && wysiwygHasData(city.quickFacts[0].description)
			+contentCard('Quick Facts')
				+accordion(city.quickFacts)(class='row', data-allow-multiple='true')
