extends ../../layout

block content
	.media-bg-img.request-page-header
		h1= province.name

	.container.ptb-Sm
		small
			a.fc-G(href= `/${country.url}`)= `< Back to ${country.names.display}`

		.content-card
			form.update-form(method='POST', action='/provinces/update')
				.form-group
					label(for='ProvinceName') Name
					p.form-control-static= province.names.display
					.hidden
						input.form-control#ProvinceName(name='names.display', type='text', placeholder='name', value=province.names.display)

				.row
					.col-xs-12.col-sm-6
						.form-group
							label Continent
							p.form-control-static
								if province.continentName
									a(href=`${province.continentUrl}`)= province.continentName
								else
									| Same as <a href='/#{country.url}'>#{country.names.display}</a>
							.hidden
								select.form-control(name='continent', multiple)
									for continent in continents
										option(value=continent.Id, selected= province.continent && province.continent.indexOf(continent.Id) > -1)= continent.name

					.col-xs-12.col-sm-6
						.form-group
							label World Region(s)
							p.form-control-static
								if province.worldRegions && province.worldRegions.length > 0
									-for(region in province.worldRegionsName)
										a(href=`/${province.worldRegionsUrl[region]}`)= province.worldRegionsName && province.worldRegionsName.indexOf(province.worldRegionsName[region]) == province.worldRegionsName.length-1 ? province.worldRegionsName[region] : `${province.worldRegionsName[region]}, ` 
								else
									| Same as <a href='/countries/#{country.url}'>#{country.names.display}</a>
							.hidden
								select.form-control(name='worldRegions', multiple)
									for region in worldRegions
										option(value=region.Id, selected= province.worldRegions && province.worldRegions.indexOf(region.Id) > -1)= region.name

				.form-group
					label Country Region(s)
					p.form-control-static
						if province.countryRegions && province.countryRegions.length > 0
							-for (i in province.countryRegionsName)
								a(href=`/${country.url}/${province.countryRegionsUrl[i]}`)= province.countryRegionsName && province.countryRegionsName.indexOf(province.countryRegionsName[i]) == province.countryRegionsName.length-1 ? province.countryRegionsName[i] : `${province.countryRegionsName[i]}, ` 
						else
							| N/A
					.hidden
						select.form-control(name='countryRegions', multiple)
							for region in countryRegions
								option(value=region.Id, selected= province.countryRegions && province.countryRegions.indexOf(region.Id) > -1)= region.name

				input(type='hidden', name='redirect', value=`/${country.url}/${province.url}`)
				input(type='hidden', name='deleteRedirect', value=`/${country.url}`)
				input(type='hidden', name= key, value= province[key])
				input.btn.btn-primary.btn-update(type='button', value='Update')
				| &nbsp;
				input.btn.btn-primary.btn-save.hidden(type='submit', value='Save', name='update')
				button.btn.btn-danger.ml-Sm(type='button', data-toggle='modal', data-target='#DeleteModal') Delete
				
				.modal.fade#DeleteModal(tab-index='-1', role='dialog', aria-labelledby="DeleteModalLabel")
					.modal-dialog(role='document')
						.modal-content
							.modal-header
								button.close(type='button', data-dismiss='modal', aria-label='Close')
									span(aria-hidden='true') &times;
								h4.modal-title#DeleteModalLabel
									| Delete&nbsp;
									= province.name
							.modal-body
								.alert.alert-danger
									p
										| Are you sure you want to delete&nbsp;
										= province.name + '?'
									p This action cannot be undone
								input.btn.btn-danger(type='submit', value='Delete', name='delete')

							.modal-footer
								button.btn.btn-default(type='button', data-dismiss='modal') Close

		.row
			.col-xs-12.col-sm-6
				.content-card.p-R
					h2 Province Regions
					ul
						for region in provinceRegions
							li
								a(href=`/${country.url}/${province.url}/${region.url}`)= region.names.display

					.clear
						button.btn.btn-primary.f-R(data-toggle='modal', data-target='#AddProvinceRegion') Add Region
					button.btn.btn-primary.p-A.t-Md.r-Md(data-toggle='modal', data-target='#AddProvinceRegion') Add Region

			.col-xs-12.col-sm-6
				.content-card.p-R
					h2 Cities
					ul
						for city in cities
							li
								a(href=`/${country.url}/${city.url}`)= city.names.display

					.clear
						button.btn.btn-primary.f-R(data-toggle='modal', data-target='#AddCity') Add City
					button.btn.btn-primary.p-A.t-Md.r-Md(data-toggle='modal', data-target='#AddCity') Add City

	.modal.fade#AddProvinceRegion(tab-index='-1', role='dialog')
			.modal-dialog(role='document')
				form.modal-content(method='POST', action='/province-regions/new')
					.modal-header.mb-Md
						h4.mt-0.mb-0.pl-Sm.fc-G
							| Add a Province Region to&nbsp;
							span= province.name
						button.close.p-A.t-Xs.r-Xs(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') &times;
					.modal-body.plr-Md.pb-Md
						.row
							.col-xs-12
								.form-group
									label(for='ProvinceRegionName') Name
									input.form-control#ProvinceRegionName(name='names.display', type='text', placeholder='America', required)

						.form-group.mb-0
							input.hidden(name='province', value=province.Id)
							button.btn.btn-primary.btn-Sm.f-R(type='submit', value=`/${country.url}/${province.url}`, name='redirect') Save

	.modal.fade#AddCity(tab-index='-1', role='dialog')
			.modal-dialog(role='document')
				form.modal-content(method='POST', action='/cities/new')
					.modal-header.mb-Md
						h4.mt-0.mb-0.pl-Sm.fc-G
							| Add a City to&nbsp;
							span= province.name
						button.close.p-A.t-Xs.r-Xs(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') &times;
					.modal-body.plr-Md.pb-Md
						.row
							.col-xs-12
								.form-group
									label(for='CityName') Name
									input.form-control#CityName(name='names.display', type='text', placeholder='Paris', required)

						.form-group.mb-0
							input.hidden(name='province', value=province.Id)
							input.hidden(name='country', value=province.country)
							button.btn.btn-primary.btn-Sm.f-R(type='submit', value=`/${country.url}/${province.url}`, name='redirect') Save