- const tagBackgroundColor = tagBackground(card.type);

.guide-card(class= `guide-card__${card.type}`, data-position=`${i+1}.${j}`)
		each directionTo in card.directionsTo ? card.directionsTo : []
			if directionTo.time || directionTo.distance
				.guide-card--directions
					span.directions--method(data-icon= getIcon(directionTo.method)): span.sr-only= directionTo.method
					span.directions--time= directionTo.time
					
					if directionTo.distance
						span.directions--distance= `// ${directionTo.distance}`

		.guide-card--content
			if tagBackgroundColor && card.tagTitle
				.guide-card--tag(class= tagBackgroundColor)= card.tagTitle

			if card.image
				.guide-card--img-wrapper(style= card.type === 'sub' && `background-image: url('${getImagePath(card.image, 'thumb2')}');`)
					if card.type !== 'sub'
							img.guide-card--img(src= getImagePath(card.image, 'large'), title= card.title || card.type)
			
			if card.title || wysiwygHasData(card.description)
				.guide-card--info
					if card.title
						h2.guide-card--header= card.title

					if wysiwygHasData(card.description)
						.guide-card--description!= card.description

					if card.suggestedTime
						p.guide-card--suggested-time
							| Suggested Time:&nbsp;	
							strong= card.suggestedTime
