mixin whereTo(guide, user, option, title, dataPosition)
	+formStart(guide, 'Guides', wysiwygHasData(guide[option]))(class='content-card', data-position= dataPosition)
		h2.content-card--header= title
			+editButton()(class='f-R mt-NegSm mr-NegSm')

		+view
			!= guide[option]
		+edit
			+wysiwyg(guide, option, title)

+whereTo(guide, user, 'whereToStay', 'Where to Stay', `0.${visibleGuideSecions++}`)
+whereTo(guide, user, 'whereToGoOut', 'Where to Go Out', `0.${visibleGuideSecions++}`)
+whereTo(guide, user, 'whereToEat', 'Where to Eat', `0.${visibleGuideSecions++}`)
+whereTo(guide, user, 'whereToExplore', 'Where to Explore', `0.${visibleGuideSecions++}`)